<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.stock.capital.enterprise.api.regulatory.dao.LetterDetailBizMapper">
	<select id="queryLetterInfo" parameterType="String"
		resultType="com.stock.capital.enterprise.api.regulatory.dto.LetterDetailDto">
		SELECT
		l.id AS id,
		l.letter_name AS letterName,
		d.letter_class_name AS letterType,
		l.letter_file_no AS letterFileNo,
		l.letter_org AS letterOrg,
		l.letter_date AS letterDate,
		l.return_date AS returnDate,
		l.company_id AS companyCode,
		c.zh_sort_name AS companyName
		FROM sa_letter l
		LEFT JOIN sa_company c ON
		c.company_code = l.company_id
		LEFT JOIN letter_class d ON d.id = l.letter_type
		WHERE l.id =#{letterId}
	</select>
	<select id="queryRelevantIds" parameterType="String" resultType="String">
		select relevance_letter_id from letter_relevance where letter_id =
		#{letterId}
	</select>
    <!-- bug 5655 对于查询allLawFlag字段条件错误 -->
	<select id="queryRelevantRules" parameterType="String"
		resultType="com.stock.capital.enterprise.api.regulatory.dto.LetterRuleDto">
        SELECT
            law_id as lawId,
            (SELECT laws_name
             FROM laws_manage
             WHERE id = law_id ) as lawsName,
            count(1) as count,
            (SELECT COUNT(1) 
             FROM letter_rule_map 
             WHERE law_id = m.law_id  AND m.letter_id = letter_id
             AND law_item_id = '') as allLawFlag
        FROM letter_rule_map m
        WHERE letter_id = #{letterId}
        GROUP BY law_id,lawsName
	</select>
	<select id="queryLetterViolates" parameterType="String"
		resultType="com.stock.capital.enterprise.common.entity.ViolateManage">
		SELECT
		violate_id AS id,
		(
		SELECT
		violate_title
		FROM
		violate_manage
		WHERE
		id = violate_id
		) AS violateTitle
		FROM
		letter_violate_map
		where letter_id = #{letterId}
	</select>

	<select id="getAskAndAnswerByLetterId" parameterType="String"
		resultType="com.stock.capital.enterprise.api.regulatory.dto.LabelAskAnswerDto">
		SELECT
			ask.id AS askId,
			ask.questionName AS askContent,
			ask.questiontype AS askTypeName,
			ask.questionFormat AS askContentFormat,
			ask.origin_content AS answerContent,
			ask.text_content AS answerContentFormat
		FROM
			(
				SELECT
					l.id AS id,
					l.origin_content AS questionName,
					l.text_content AS questionFormat,
					(
						SELECT
							group_concat(
								c.letter_class_name SEPARATOR ';'
							)
						FROM
							letter_class c
						WHERE
							find_in_set(c.id, l.question_type)
					) AS questionType,
					(
						select GROUP_CONCAT(origin_content SEPARATOR ';') from (SELECT a.origin_content,b.ask_id from label_ask_answer b ,label_xml_structure a where b.answer_id = a.id) c where c.ask_id = l.id
					) as origin_content,
					(
						select GROUP_CONCAT(text_content SEPARATOR ';') from (SELECT a.text_content,b.ask_id from label_ask_answer b ,label_xml_structure a where b.answer_id = a.id) c where c.ask_id = l.id
					) as text_content
				FROM
					label_xml_structure l
				WHERE
					l.rela_id = #{letterId}
				AND l.type = 'l'
				AND l. LEVEL = '4'
			) ask
	</select>

	<select id="getLetterRtnByLetterId" parameterType="String"
		resultType="com.stock.capital.enterprise.common.entity.LabelRtnFile">
		select file_name AS letterrtnName,file_id AS id from
		label_rtn_file where
		letterrtn_id=(
		select b.id from sa_letter a
		left
		join sa_letter_return b
		on a.id=b.letter_id
		where a.id=#{letterId})

	</select>
	<!-- 获取来函 -->
	<select id="getLabelFileByLetterId" parameterType="String"
		resultType="com.stock.capital.enterprise.api.regulatory.dto.LabelFileLetterDto">
		select id as letterAtachmentId,att_url as
		letterAtachmentUrl,att_name as letterAtachmentName from sa_attachment
		where business_id=#{letterId}

	</select>
	<!-- 获取回函 -->
	<select id="getLetterReturnByLetterId" parameterType="java.lang.String"
		resultType="java.lang.String">
        SELECT id
        FROM sa_letter_return
        WHERE letter_id =#{letterId}
        AND label_status = '2'
	</select>

	<!-- 获取回函附件 -->
	<select id="getLabelReturnFileByLetterReturnId" parameterType="java.lang.String"
        resultType="com.stock.capital.enterprise.api.regulatory.dto.LabelRtnFileDto">
        SELECT
            a.id AS fileId,
            a.att_name AS fileName,
            a.att_url AS fileUrl
        FROM 
            sa_attachment a ,
            sa_letter_return b ,
            sa_letter c
        WHERE c.id = b.letter_id
        AND b.id = a.business_id
        AND b.label_status = '2'
        AND a.business_id = #{letterRetrunId}
        AND (a.document_type not like 'image%' OR a.document_type IS NULL)
    </select>
    
    <select id="getLabelLevel56" parameterType="java.lang.String"
        resultType="com.stock.capital.enterprise.api.regulatory.dto.LabelXmlStructureDto">
        SELECT
            lxs.id AS id, 
            lxs.rela_id AS relaId, 
            lxs.text_content AS textContent,
            lxs.origin_content AS originContent,
            lxs.type AS type,
            lxs.level AS level,
            lxs.question_type AS questionType,
            lxs.answer_id AS answerId
        FROM label_xml_structure lxs
        WHERE lxs.rela_id = #{letterId}
        AND (lxs.level = '5' or lxs.level = '6')
    </select>
    
    <select id="getLabelLevelTitle" parameterType="java.lang.String"
        resultType="com.stock.capital.enterprise.api.regulatory.dto.LabelXmlStructureDto">
        SELECT
            lxs.id AS id, 
            lxs.rela_id AS relaId, 
            lxs.text_content AS textContent,
            lxs.origin_content AS originContent,
            lxs.type AS type,
            lxs.level AS level,
            lxs.question_type AS questionType,
            lxs.answer_id AS answerId
        FROM label_xml_structure lxs
        WHERE lxs.rela_id = #{letterId}
        AND (lxs.level = '3' or lxs.level = '2')
    </select>
    
   	<select id="getTextContent" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		a.text_content
		FROM label_xml_structure a
		WHERE a.id = #{askAndAnswerId}
	</select>
</mapper>
