<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.api.regulatory.dao.RegulatoryBizMapper">
    <select id="getSourceList" resultType="com.stock.core.dto.OptionDto">
        select distinct(info_source) as value, info_source as label from regulateinfo_manage where info_source <![CDATA[ <> ]]> ''
        ORDER BY length(info_source),CONVERT(info_source USING gbk)
    </select>
    <select id="getFavourList" parameterType="Map" resultType="com.stock.capital.enterprise.api.regulatory.dto.RegulatoryFavourDto">
        SELECT
        DATE_FORMAT(f.create_time,"%Y-%m-%d") as favourTime,
        rm.id AS id,
        rm.url AS url,
        rm.info_title AS infoTitle,
        replace(rm.info_title,#{key},CONCAT('&lt;font
        style="color:#FF0000;"&gt;',#{key},'&lt;/font&gt;')) as infoTitleHL,
        rm.info_source AS infoSource,
        DATE_FORMAT(rm.release_time,"%Y-%m-%d") as releaseTime,
        concat(lpad(LENGTH(info_source), 3, '0'), CONVERT(info_source USING gbk)) AS infoSourceSort
        FROM favorite f
        INNER JOIN
        regulateinfo_manage rm ON f.biz_id = rm.id
        <if test="key != '' and key != null">
            AND (rm.info_title LIKE CONCAT('%',#{key},'%') OR rm.info_content LIKE CONCAT('%',#{key},'%'))
        </if>
        <if test="infoSource != '' and infoSource != null">
            AND
            <foreach collection="infoSources" item="infoSource" open="(" close=")" separator=" OR ">
                rm.info_source = #{infoSource}
            </foreach>
        </if>
        <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
            AND (rm.release_time &gt;= #{startDate} AND rm.release_time &lt;= #{endDate})
        </if>
        WHERE f.user_id = #{userId} AND f.company_id = #{companyCode} AND f.type = #{type} AND f.source = #{source}
        <if test="orderColumn == '1'.toString()">
            ORDER BY CONVERT(rm.info_title USING gbk)
        </if>
        <if test="orderColumn == '2'.toString()">
            ORDER BY infoSourceSort
        </if>
        <if test="orderColumn == '3'.toString()">
            ORDER BY rm.release_time
        </if>
        <if test="orderColumn == '4'.toString()">
            ORDER BY f.create_time
        </if>
        <if test="orderByOrder =='asc'.toString()">
            ASC
        </if>
        <if test="orderByOrder =='desc'.toString()">
            DESC
        </if>
        <if test="orderColumn == '' || orderColumn == null">
            <if test="orderByOrder == '' || orderByOrder == null">
                ORDER BY releaseTime DESC
            </if>
        </if>
        limit #{startRow},#{pageSize}
    </select>
    <select id="getFavourListTotalCount" parameterType="Map" resultType="int">
        SELECT
        count(1)
        FROM favorite f
        INNER JOIN regulateinfo_manage rm ON f.biz_id = rm.id
        <if test="key != '' and key != null">
            AND (rm.info_title LIKE CONCAT('%',#{key},'%') OR rm.info_content LIKE CONCAT('%',#{key},'%'))
        </if>
        <if test="infoSource != '' and infoSource != null">
            AND
            <foreach collection="infoSources" item="infoSource" open="(" close=")" separator=" OR ">
                rm.info_source = #{infoSource}
            </foreach>
        </if>
        <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
            AND (rm.release_time &gt;= #{startDate} AND rm.release_time &lt;= #{endDate})
        </if>
        WHERE f.user_id = #{userId} AND f.company_id = #{companyCode} AND f.type = #{type} AND f.source = #{source}
    </select>
    <select id="getRegulateinfoManage" parameterType="Map" resultType="com.stock.capital.enterprise.api.regulatory.dto.RegulateinfoManageDto">
        select id as id,
        info_title as infoTitle,
        info_source as infoSource,
        release_time as releaseTime,
        info_content as infoContent
        from regulateinfo_manage rm
        where rm.id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>

