.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
	width:100%;
}
.el-date-editor .el-range-input{
	width:35%;
}
.el-date-editor .el-range-separator{
	width:15%;
}
.el-date-editor .el-range__close-icon{
	width:20px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
	width:100%;
}
.el-select-dropdown__item{
	height:inherit;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
	background:#fff;
}
.el-select-dropdown__item{
	padding:5px 10px;
}
.el-input__inner{
	height:36px;
}
.el-select-dropdown__item .el-button span{
	line-height:1!important;
}
.row-margin{
	margin-bottom:15px;
}
.mixin-components-container {
  background-color: #f0f2f5;
  padding: 15px;
  min-height: calc(100vh - 110px);
}
.component-item{
  min-height: 100px;
}
.el-card{
	min-height: calc(100vh - 120px);
}
.full{
	width:100%;
}
.demo-block {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
    padding:10px;
}
/* yuanjia */
.mb_10{
	margin-bottom: 10px;
}
.mb_15{
	margin-bottom: 15px;
}
.mb_45{
	margin-bottom: 45px;
}
.ml_10{
	margin-left: 10px;
}
.mr_10{
	margin-right: 10px;
}
.m_0{
	margin: 0px !important;
}
.pr_10{
	padding-right: 10px;
}
.float_r{
	float: right;
}
.ipt_75{
	width: 75%;
}
.ipt_80{
	width: 80%;
}
.ipt_84{
	width: 84% !important;
}
.el-dialog{
	width: 60%;
}
.el-table .el-button--mini, .el-button--mini.is-round {
	padding: 7px 11px;
	margin: 0;
}
.el-dialog__body{
	padding: 20px;
}
/* end */
.el-form-item .el-form-item__label{
	padding-right: 10px;
	font-weight: normal;
	color: #303133;
}
.el-table thead {
    color: #303133;
    font-weight: normal;
}
.el-table thead tr th {
    background: #f5f7fa;
}
.el-form--label-left .el-form-item__label {
    text-align: right;
}
.btn-group .el-form-item__content{
	margin-left: 0px !important;
	text-align: right;
}
.paddingValue {
    padding: 11px 0px !important;
}
.selectFull{
	text-align:center;
	padding:10px 0!important;
}
.el-input--small .el-input__inner{
	height: 30px!important;
}
.container{
	/* padding:10px; */
}
.el-table--medium td, .el-table--medium th{
	padding:0;
}
.el-table thead tr th {
	background: #A0ADB5;
	color:#fff;
}
.el-table thead .greyBg th {
	background: #e8e8e8;
    color:#000;
    padding:0px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.el-table thead .whiteBg th {
	background: #fff;
    color:#000;
    padding:0px;
    border-right: 1px solid #ddd;
}

.el-table .greyBg {
    background: #e8e8e8;
}
::-webkit-scrollbar-track-piece {
	background-color:#f8f8f8;
}
::-webkit-scrollbar {
	width:5px;
	height:7px;
}
::-webkit-scrollbar-thumb {
	background-color:#dddddd;
	background-clip:padding-box;
	min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#bbb;
}
.el-table--border td, .el-table--border th {
    border-right: 0;
}
.el-input__inner {
    border-radius:0;
}
.el-button {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
	border-radius: 2px;
}
.el-button--primary {
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
}
.el-button--medium,.el-button--default {
	color:#333;
    border-color: #e2e2e2;
    border-bottom-color: #c6c6c6;
    background: #f4f4f4;
    background-image: -webkit-linear-gradient(top,#f4f4f4 0,#eaeaea 100%);
    background-image: linear-gradient(to bottom,#f4f4f4 0,#eaeaea 100%);
    background-repeat: repeat-x;
}
.el-button--primary{
	color:#fff;
	border-color: #0087a7;
    border-bottom-color: #0087a7;
    background: #0087a7;
    background-image: -webkit-linear-gradient(top,#1c2233 0,#0087a7 100%);
    background-image: linear-gradient(to bottom,#0087a7 0,#0087a7 100%);
    background-repeat: repeat-x;
}
.el-button--primary:hover{
	color: #fff;
    border-color: #43b0d0;
    border-bottom-color: #2d95b3;
    background: #50b5d3!important;
    background-image: -webkit-linear-gradient(top,#5cbbd6 0,#43b0d0 100%)!important;
    background-image: linear-gradient(to bottom,#5cbbd6 0,#43b0d0 100%)!important;
    background-repeat: repeat-x;
}
.el-checkbox__inner{
	border-radius: 0;
}
.el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 3px solid #333;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 3px;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
    transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms, -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms,-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #fff;
    border-color: #409EFF;
}
.el-table .ascending .sort-caret.ascending, .el-table .descending .sort-caret.descending {
    color: #fff;
}
.el-select-dropdown__item.selected{
    font-weight:500;
}
.no-padding{
    padding:0!important;
}
.no-margin{
    font-size: 18px;
    font-weight: bold;
    margin:0!important;
    line-height: 1.42857;
}
.no-margin-tb{
    margin-top:0!important;
    margin-bottom:0!important;
}
ul,ol,li{
    list-style:none;
}
.fullDiv_border>.el-tabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav{
    width:100%!important;
}

.fullDiv_border>.el-tabs>.el-tabs__header{
     margin-bottom:5px!important;
}

.fullDiv_border>.el-tabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav .el-tabs__item{
    width:25%;
    padding:0;
    text-align:center;
    font-size:16px;
}
.fullDiv_border>.el-tabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__active-bar{
    display:none;
}
.fullDiv_border .el-tabs__item.is-active{
    border-bottom:2px solid #009ac0;
    color:#333;
}
.app-wrapper{
    position: relative;
    height: auto!important;
    width: 100%;
}
#app {
    height:auto!important;
}
body{
    height:auto!important;
}

[rightTable]>.el-table>.el-table__body-wrapper tr td,[rightTable]>.el-table>.el-table__header-wrapper tr th{
    background: #fff!important;
    padding:5px!important;
    color: #333!important;
    border:0;
/*     text-align:center; */
}
[rightTable] thead tr th,[rightTable] tbody tr td {
    background: #fff!important;
    padding:5px!important;
    color: #333!important;
    border:0;
}
[rightTable] .el-table--border::after, [rightTable] .el-table--group::after, [rightTable] .el-table::before {
    content: '';
    position: absolute;
    background-color: #fff;
    z-index: 1;
}
[rightTable] .el-table th>.cell {
    font-family: 'Microsoft YaHei'!important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight:normal;
}
[rightTable1] .el-table__header-wrapper {
    border-bottom: 1px solid #eee;
}
[rightTable1] .el-table th>.cell {
    padding: 5px;
}
[rightTable1] .has-gutter .el-table_2_column_4>.cell {
    margin-left: 50px;
}
[rightTable] .has-gutter .el-table_5_column_13>.cell {
    margin-left: 50px;
}
.el-table__header thead tr>th{
    padding:10px;
}
.el-col-2 span{font-family:"Microsoft YaHei";font-size:14px;}

.el-table .cell {
    line-height: 20px!important;
}
.finance .el-input--small .el-input__inner{
    height: 32px!important;
}
.finance .el-date-editor .el-range-input {
    cursor: pointer;
}
.finance a:hover{text-decoration:underline;}
.finance .el-tabs__item.is-active {
    color: #555!important;
}
.finance .el-tabs__item.is-active:hover {
    cursor: default;
    color: #555!important;
}
.finance .el-tabs__item:hover {
    color: #555;
    cursor: pointer;
}
