 //覆盖一些element-ui样式

 .el-breadcrumb__inner, .el-breadcrumb__inner a{
  font-weight: 400!important;
}

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .cell {
   .el-tag {
     margin-right: 0px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 5px;
     padding-right: 5px;
   }
 }

 .fixed-width{
  .el-button--mini{
    // padding: 7px 10px;
    // width: 60px;
  }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 }

 //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 }

 //文章页textarea修改样式
 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }
//  公司概况表格样式修改
 .companyProfile .el-table thead tr th{
  // background: #f2f2f2;
  color: black;
} 
.companyProfile .el-table .cell {
  line-height: 20px !important;
  // text-align: center;
}
.companyProfile .el-table tr {
  background-color: #fff;
  height: 40px;
}
.el-table--border td, .el-table--border th {
  border-right: 1px solid #F2F2F2;
}
.el-table thead tr th {
  background: #f5f7fa;
  color: #fff;
}
// 修改步骤天默认标题字体
.el-step.is-vertical .el-step__title {
  line-height: 24px;
  padding-bottom: 8px;
  font-family: 'PingFang-SC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 12px !important;
  color: #000000;
}
.el-step__icon {
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 14px;

}
.el-step__icon.is-text {
  border-radius: 50%;
  border: 1px solid;
  border-color: inherit;
}
// 弹窗table样式
.popWindow .el-table thead tr th {
  background: rgba(242, 242, 242, 1);
  color: black;
}
.el-table th>.cell {
  color: black;
  position: relative;
  word-wrap: normal;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// 财务信息合并单元格将空白数据display:none
.assetsTable1 .el-table__empty-block {
  display: none;
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
}
// 财务信息合并单元格将表头display:none
.table2.el-table thead {
  display: none;
  color: #303133;
  font-weight: normal;
}
.el-table tr {
  background-color: #fff;
  height: 40px;
}
// 委员弹出框标题样式
.result .el-dialog__title {
  font-family: 'Microsoft Tai Le Negreta', 'Microsoft Tai Le';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847058823529412);
  text-align: left;
  line-height: 24px;
}
// 反馈意见中下面的tab样式修改
.feedback .el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 1;
}
.feedback .el-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: white; 
  z-index: 1;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1), -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  list-style: none;
}
.feedback .el-tabs__item {
  padding: 0 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  position: relative;
}
.feedback .el-tabs__header.is-top{
  padding-left: 75px;
}
.feedback .el-tabs__item:hover {
  color: #0087a7;
  cursor: pointer;
}
.feedback .el-tabs__item:focus {
  color: #0087a7;
  cursor: pointer;
}
.feedback .el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0 0; 
}
// 反馈意见 多选按钮样式
.el-checkbox-button__inner {
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fafafa;; 
  border: 1px solid #e2e2e2;
  border-left: 0;
  color: #555;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}
.el-checkbox-button--mini .el-checkbox-button__inner {
  border-left: 1px solid #e2e2e2;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0;
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: #fff;
  color: #3399ff;
  border-color: #3399ff;
  border-left:none;
  -webkit-box-shadow: -1px 0 0 0 #66b7ca;
  box-shadow: -1px 0 0 0 #66b7ca;
}
// 反馈意见  单选按钮
.el-radio-button .el-radio-button__inner {
  border: none;
  background-color: rgba(250, 250, 250, 1);
  // border-left: 1px solid #e2e2e2;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #fff;
  color: #3399ff;
  border-color: #3399ff;
  -webkit-box-shadow: -1px 0 0 0 #0087a7;
  box-shadow: -1px 0 0 0 #0087a7;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-left: none;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}