 //覆盖一些element-ui样式

 .el-breadcrumb__inner, .el-breadcrumb__inner a{
  font-weight: 400!important;
}

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .cell {
   .el-tag {
     margin-right: 0px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 5px;
     padding-right: 5px;
   }
 }

 .fixed-width{
  .el-button--mini{
    // padding: 7px 10px;
    // width: 60px;
  }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 }

 //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 }

 //文章页textarea修改样式
 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }
//  公司概况表格样式修改
 .companyProfile .el-table thead tr th{
  // background: #f2f2f2;
  color: black;
} 
.companyProfile .el-table .cell {
  line-height: 20px !important;
  // text-align: center;
}
.companyProfile .el-table tr {
  background-color: #fff;
  height: 40px;
}
.el-table--border td, .el-table--border th {
  border-right: 1px solid #F2F2F2;
}
.el-table thead tr th {
  background: #f5f7fa;
  color: #fff;
}
// 修改步骤天默认标题字体
.el-step.is-vertical .el-step__title {
  line-height: 24px;
  padding-bottom: 8px;
  font-family: 'PingFang-SC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 12px !important;
  color: #000000;
}
.el-step__icon {
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 14px;

}
.el-step__icon.is-text {
  border-radius: 50%;
  border: 1px solid;
  border-color: inherit;
}
// 弹窗table样式
.popWindow .el-table thead tr th {
  background: rgba(242, 242, 242, 1);
  color: black;
}
.el-table th>.cell {
  color: black;
  position: relative;
  word-wrap: normal;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// 财务信息合并单元格将空白数据display:none
.assetsTable1 .el-table__empty-block {
  display: none;
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
}
// 财务信息合并单元格将表头display:none
.table2.el-table thead {
  display: none;
  color: #303133;
  font-weight: normal;
}
.el-table tr {
  background-color: #fff;
  height: 40px;
}
// 委员弹出框标题样式
.result .el-dialog__title {
  font-family: 'Microsoft Tai Le Negreta', 'Microsoft Tai Le';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847058823529412);
  text-align: left;
  line-height: 24px;
}