 //覆盖一些element-ui样式

 .el-breadcrumb__inner, .el-breadcrumb__inner a{
  font-weight: 400!important;
}

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .cell {
   .el-tag {
     margin-right: 0px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 5px;
     padding-right: 5px;
   }
 }

 .fixed-width{
  .el-button--mini{
    // padding: 7px 10px;
    // width: 60px;
  }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 }

 //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 }

 //文章页textarea修改样式
 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }
//  ****************************ipo************************************
//  公司概况表格样式修改
 .companyProfile .el-table thead tr th{
  color: black;
}
.companyProfile .el-table .cell {
  line-height: 20px !important;
}
.companyProfile .el-table tr {
  background-color: #fff;
  height: 40px;
}
.el-table--border td, .el-table--border th {
  border-right: 1px solid #F2F2F2;
}
.el-table thead tr th {
  background: #f5f7fa;
  color: #fff;
}
// 弹窗table样式
.popWindow .el-table thead tr th {
  background: rgba(242, 242, 242, 1);
  color: black;
}
.el-table th>.cell {
  color: black;
  position: relative;
  word-wrap: normal;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// 财务信息合并单元格将空白数据display:none
.assetsTable1 .el-table__empty-block {
  display: none;
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.incomeTable .el-table__empty-block {
  display: none;
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
}
// 财务信息合并单元格将表头display:none
.table2.el-table thead {
  display: none;
  color: #303133;
  font-weight: normal;
}
.el-table tr {
  background-color: #fff;
  height: 40px;
}
// 委员弹出框标题样式
.result .el-dialog__title {
  width:100%;
  font-style: normal;
  font-size: 16px;
  color: #333;
  text-align: left;
}
.result  .el-dialog__header {
  padding: 8px 21px 11px;
  border-bottom:1px #e1e1e1 solid;
}
.result .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #0087a7;
}
.result .el-icon-close:before {
  position: relative;
  top: -2px;
  left: -7px;
}
// 反馈意见中下面的tab样式修改
.feedback .el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e7ed;
  z-index: 1;
}
.feedback .el-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  // background-color: #fff;
  background-color: #e4e7ed;
  z-index: 1;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1), -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
  list-style: none;
}
// css伪类加三角形边框
.feedback .el-tabs__active-bar:before{
    content:" ";
		position:absolute;
		top:-6px;
		left:58px;
		border-bottom:6px solid #14bcf5;
		border-left:6px solid transparent;
    border-right:6px solid transparent;
}
.feedback .el-tabs__active-bar::after{
  content:" ";
  position:absolute;
  top:-5px;
  left:52px;
  border-bottom:12px solid white;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
}
.feedback .el-tabs__item {
  padding: 0 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  position: relative;
}
.feedback .el-tabs__header.is-top {
  padding-left: 75px;
  border-bottom: 1px solid #e4e7ed;
}
.feedback .el-tabs__item:hover {
  color: #0087a7;
  cursor: pointer;
}
.feedback .el-tabs__item:focus {
  color: #0087a7;
  cursor: pointer;
}
.feedback .el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0 0;
}
// 反馈意见 多选按钮样式
.el-checkbox-button__inner {
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fafafa;;
  border: 1px solid #e2e2e2;
  border-left: 0;
  color: #555;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}
.el-checkbox-button--mini .el-checkbox-button__inner {
  border-left: 1px solid #e2e2e2;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0;
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: #fff;
  color: #3399ff;
  border-color: #3399ff;
  border-left:none;
  -webkit-box-shadow: -1px 0 0 0 #66b7ca;
  box-shadow: -1px 0 0 0 #66b7ca;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #14bcf5;
}
// 反馈意见  单选按钮
.singleAndMultiple .el-radio-button .el-radio-button__inner {
  border: none;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #fff;
  color: #3399ff;
  border-color: #3399ff;
  -webkit-box-shadow: -1px 0 0 0 #0087a7;
  box-shadow: -1px 0 0 0 #0087a7;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-left: none;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
// 公司概要当前有无效下拉框
.el-input--medium .el-input__inner {
  height: 30px;
}

// 下载小图标变大
[class*=" el-icon-"], [class^=el-icon-] {
  font-size: 20px;
  font-family: element-icons!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-table--border td, .el-table--border th {
  border-right: 1px solid #e4e4e4;
}
// 表头颜色
.el-table thead tr th {
  background: #f2f2f2;
  color: #fff;
}
// 财务信息页，平均值和自己公司表格的表头去掉
.averageOrMyself .el-table__header-wrapper{
  display:none
}
.averageOrMyself{
  margin-top:0 !important;
}
.myself.el-table {
 border:1px solid #14bcf5;
}
.feedback .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  background-color: #fff;
  color: #14bcf5;
  border-radius: 3px;
  border:1px solid #14bcf5;
}

.feedback .el-radio-button--small .el-radio-button__inner {
  padding: 5px;
  font-size: 12px;
  border-radius: 0;
  border:1px solid #fff
}
.feedback .el-checkbox-button__inner{
  padding:5px;
  border-radius: 3px !important;
}
// 财务信息其他公司和平均值没有数据时，不显示，‘暂无数据’
.otherCompany .el-table__empty-block{
  display: none;
}
.average .el-table__empty-block{
  display: none;
}
.table2 .el-table__empty-block{
  display: none;
}
.result .el-dialog{
  height:520px;
  margin-top: 30px !important;
}
@media screen and (max-width: 1920px) and (min-width: 1400px) {
  .result .el-dialog{
    height:550px;
    margin-top: 15vh !important;
  }
}
.mainTable .el-table .cell,.mainTable .el-table th div,.mainTable .el-table--border td:first-child .cell,.mainTable .el-table--border th:first-child .cell {
  padding-left: 0px;
}
.mainTable .is-left.table_cell.is-leaf{
  padding-left:15px;
}
.mainTable .has-gutter{
  font-weight: bold
}

.feedback .el-tabs__item.is-active{
  color:#14bcf5 !important;
}
.ipoCaseList .el-radio__label {
  font-size: 12px;
  color: #666666;
}
.ipoCaseList .el-radio__inner {
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ipoCaseList .el-radio-group {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
  padding-left: 3px;
}
// 进程树公告弹窗
 .el-dialog__title {
  width:100%;
  font-style: normal;
  font-size: 16px;
  color: #303133;
  text-align: left;
}
 .el-dialog__header {
  padding: 12px 21px 11px;
  border-bottom:1px #e1e1e1 solid;
}
.el-dialog__headerbtn {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}
.el-dialog__body {
  padding: 24px 18px;
  color: #555;
  line-height: 24px;
  font-size: 14px;
}
.el-table__header thead tr>th {
  padding: 0px;
}
.el-table{
  color:#333;
}
.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
  background-color: #f5f7fa;
  color: #333;
}
.mainTable table tr:last-of-type{
  font-weight: bold
}
.issueMoney table tr:last-of-type{
  font-weight: bold
}
.raiseMoneyTable table tr:last-of-type{
  font-weight: bold
}
// 前五名供应商用户表格最后一行合计
// .theTopFiveKh table tr:last-of-type{
//   font-weight: bold
// }
// .theTopFiveSupplier table tr:last-of-type{
//   font-weight: bold
// }
#componentId .el-checkbox-button.is-focus .el-checkbox-button__inner {
  border-color: #e2e2e2;
  border-left-color:#e2e2e2 
}
#componentId .el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: #fff;
  color: #3399ff;
  border-color: #3399ff;
  border-left: none;
  -webkit-box-shadow: -1px 0 0 0 #66b7ca;
  box-shadow: -1px 0 0 0 #66b7ca;
}
// 加载框样式
.el-loading-spinner {
  top: 50%;
  margin-top: 28px;
  width: 100%;
  text-align: center;
  position: absolute;
}
// 表头颜色
.el-table thead.is-group th {
  background: #f2f2f2;
}
// 鼠标悬浮颜色
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #F5F7FA;
}
// 反馈意见单选按钮颜色
.feedback  .el-radio-button__inner:hover {
  color: #14bcf5;
}
.feedback .el-tabs__item:hover {
  color: #14bcf5;
  cursor: pointer;
}
// 公告多选按钮
.moreNotice .el-checkbox__inner:hover {
  border-color: #14bcf5;
}
.moreNotice .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #14bcf5;
  border-color: #14bcf5 !important;
}
.moreNotice .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color:#cacaca;
}
.moreNotice .el-checkbox__inner{
  border-color:#cacaca;
  border-radius:3px;
}
.moreNotice .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
  background: #fff !important;
  border-color: #14bcf5!important;
  color: #14bcf5!important;
}
.moreNotice .el-checkbox__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 3px;
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 4px;
  -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms, -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms,-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  -webkit-transform-origin: center;
  transform-origin: center;
}
//未
.feedback .el-checkbox__inner:hover {
  border-color: #14bcf5;
}
.feedback .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #14bcf5;
  border-color: #14bcf5 !important;
}
.feedback .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color:#cacaca;
}
.feedback .el-checkbox__inner{
  border-color:#cacaca;
  border-radius:3px;
}
.feedback .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
  background: #fff !important;
  border-color: #14bcf5!important;
  color: #14bcf5!important;
}
.feedback .el-checkbox__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 3px;
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 4px;
  -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms, -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms,-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  -webkit-transform-origin: center;
  transform-origin: center;
}
#componentId .el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: #fff;
  color: #14bcf5;
  border-color: #14bcf5;
  border-left: none;
  -webkit-box-shadow: -1px 0 0 0 #66b7ca;
  box-shadow: -1px 0 0 0 #66b7ca;
}
.el-checkbox-button__inner:hover {
  color: #14bcf5;
}
// 点击下载没有公告，弹窗
.noGonggao .el-dialog{
  width: 30% !important;
  margin-top: 48vh !important;
}
.noGonggao .el-dialog__header {
  padding: 12px 21px 11px;
  border-bottom: none !important;
}
.noGonggao .v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: none !important; 
}
// 供应商表格悬浮
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
  background-color: #f5f7fa;
}
// ipo tip提示框
.el-tooltip__popper.is-light {
  color:#666;
  background: #fff;
  border: 1px solid #eee;
  box-shadow:  0 0px 28px -5px #ccc;
}
.el-tooltip__popper[x-placement^=top] {
  margin-bottom: 12px;
}
.el-tooltip__popper {
  position: absolute;
  border-radius: 4px;
  padding: 16px;
  z-index: 2000;
  font-size: 14px;
  line-height: 1.2;
}
.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
  border-top-color: #eee;
}
.el-tooltip__popper.is-light[x-placement] .popper__arrow {
  border-top-color: #eee;
}
.ipoTip .el-button {
  display: inline-block;
  padding: 5px 0px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #eee !important;
}
// 表头右边
.ipoContainer .el-table--border td, .el-table--border th {
  border-right: 1px solid #e4e4e4 !important;
}
// 专利情况表格
.patentSituationTable table tr td:first-of-type{
  background:#f2f2f2 !important;
  font-weight:bold;
}

.patentSituationTable table tr:last-of-type td:last-of-type{
  background:#f2f2f2 !important;
}
