

.theme-silver { //默认
    background:#fff;
    .nav-tabs>li.active>a,.theme-silver .nav-tabs>li.active>a:focus,.theme-silver .nav-tabs>li.active>a:hover {
        font-size:14px;
        color:#0087a7;
        background:#f3f3f3;
        border-bottom:2px solid #009ac0
    }
    .nav_tamp>li.hoverfor a{
        background:#2A303C;
    }
    .nav_tamp>.enter>a, .nav_tamp>.enter>a>i{
        color:#5DDEFD;
    }
    .table-primary thead th, .table-primary thead tr {
        background:#A0ADB5
    }
}

.theme-default { //黑色
    .el-button--primary{background: #1d89cf !important}
    .el-button--primary, .el-btn--primary:focus {
        border-color:#1a7ab9;
        border-bottom-color:#16689e;
        background:#1d89cf;
        background-image:-webkit-linear-gradient(top,#1e8cd3 0,#1a7ab9 100%);
        background-image:linear-gradient(to bottom,#1e8cd3 0,#1a7ab9 100%);
        background-repeat:repeat-x
    }
    .el-button--primary:hover{
        color:#fff;
        border-color:#1871ab;
        border-bottom-color:#12547e;
        background:#1a7ab9!important;
        background-image:-webkit-linear-gradient(top,#1c83c6 0,#1871ab 100%)!important;
        background-image:linear-gradient(to bottom,#1c83c6 0,#1871ab 100%)!important;
        background-repeat:repeat-x
    }
    .el-button--primary.dropdown-toggle, .el-button--primary.active, .el-button--primary:active {
        background:0 0;
        background:#1a7dbd!important;
        border-color:#146090;
        border-bottom-color:#146090!important;
        color:#fff;
        -webkit-box-shadow:0 0 12px rgba(0,0,0,.1) inset;
        box-shadow:0 0 12px rgba(0,0,0,.1) inset
    }
    .el-table thead tr th{
        background: #2175ac
    }
 
}
.theme-asphalt { //青色
    .el-button--primary{background: #52bdb4 !important}
    .el-button--primary, .el-btn--primary:focus {
        border-color:#44b2a8;
        border-bottom-color:#3b9c93;
        background:#52bdb4;
        background-image:-webkit-linear-gradient(top,#56beb6 0,#44b2a8 100%);
        background-image:linear-gradient(to bottom,#56beb6 0,#44b2a8 100%);
        background-repeat:repeat-x
    }
    .el-button--primary:hover{
        color:#fff;
        border-color:#40a79e;
        border-bottom-color:#31827b;
        background:#44b2a8!important;
        background-image:-webkit-linear-gradient(top,#4bbab1 0,#40a79e 100%)!important;
        background-image:linear-gradient(to bottom,#4bbab1 0,#40a79e 100%)!important;
        background-repeat:repeat-x
    }
    .el-button--primary.dropdown-toggle, .el-button--primary.active, .el-button--primary:active {
        background:0 0;
        background:#45b5ac!important;
        border-color:#379089;
        border-bottom-color:#379089!important;
        color:#fff;
        -webkit-box-shadow:0 0 12px rgba(0,0,0,.1) inset;
        box-shadow:0 0 12px rgba(0,0,0,.1) inset
    }
    .el-table thead tr th{
        background: #4ca49d
    }
}
.theme-purple-hills { //紫色
    .el-button--primary{background: #78658b !important}
    .el-button--primary, .el-btn--primary:focus {
        border-color:#78658b !important;
        border-bottom-color:#695879 !important;
        background:#857198 !important;
        background-image:-webkit-linear-gradient(top,#88749a 0,#78658b 100%);
        background-image:linear-gradient(to bottom,#88749a 0,#78658b 100%);
        background-repeat:repeat-x
    }
    .el-button--primary:hover{
        background:#756c7e !important
    }
    .el-button--primary.dropdown-toggle, .el-button--primary.active, .el-button--primary:active {
        background:0 0;
        background:#7b678e!important;
        border-color:#615170 !important;
        border-bottom-color:#615170!important;
        color:#fff;
        -webkit-box-shadow:0 0 12px rgba(0,0,0,.1) inset;
        box-shadow:0 0 12px rgba(0,0,0,.1) inset
    }
    .el-table thead tr th{
        background: #756c7e
    }
}
.theme-dust { //橘色
    .el-button--primary{background: #7a6f6f !important}
    .el-button--primary, .el-btn--primary:focus {
        border-color:#6d6363 !important;
        border-bottom-color:#5d5454 !important;
        background:#7a6f6f !important;
        background-image:-webkit-linear-gradient(top,#7d7171 0,#6d6363 100%);
        background-image:linear-gradient(to bottom,#7d7171 0,#6d6363 100%);
        background-repeat:repeat-x
    }
    .el-button--primary:hover{
        color:#fff;
        border-color:#655c5c !important;
        border-bottom-color:#4a4343 !important;
        background:#6d6363!important;
        background-image:-webkit-linear-gradient(top,#756a6a 0,#655c5c 100%)!important;
        background-image:linear-gradient(to bottom,#756a6a 0,#655c5c 100%)!important;
        background-repeat:repeat-x
    }
    .el-button--primary.dropdown-toggle, .el-button--primary.active, .el-button--primary:active {
        background:0 0;
        background:#6f6565!important;
        border-color:#554d4d !important;
        border-bottom-color:#554d4d!important;
        color:#fff;
        -webkit-box-shadow:0 0 12px rgba(0,0,0,.1) inset;
        box-shadow:0 0 12px rgba(0,0,0,.1) inset
    }
    .el-table thead tr th{
        background: #656565
    }
}
.theme-frost { //蓝色
    .el-button--primary{background: #3daacf!important}
    .el-button--primary, .el-btn--primary:focus {
        border-color:#309dc2;
        border-bottom-color:#2a89aa;
        background:#3daacf;
        background-image:-webkit-linear-gradient(top,#41acd0 0,#309dc2 100%);
        background-image:linear-gradient(to bottom,#41acd0 0,#309dc2 100%);
        background-repeat:repeat-x
    }
    .el-button--primary:hover{
        color:#fff;
        border-color:#2d93b6;
        border-bottom-color:#23728d;
        background:#309dc2!important;
        background-image:-webkit-linear-gradient(top,#35a6cd 0,#2d93b6 100%)!important;
        background-image:linear-gradient(to bottom,#35a6cd 0,#2d93b6 100%)!important;
        background-repeat:repeat-x
    }
    .el-button--primary.dropdown-toggle, .el-button--primary.active, .el-button--primary:active {
        background:0 0;
        background:#31a1c6!important;
        border-color:#27809e;
        border-bottom-color:#27809e!important;
        color:#fff;
        -webkit-box-shadow:0 0 12px rgba(0,0,0,.1) inset;
        box-shadow:0 0 12px rgba(0,0,0,.1) inset
    }
    .el-table thead tr th{
        background: #3995b5
    }
}

