<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.capital.enterprise.ipoInterfaceH5.dao.IpoInterfaceBizMapper" >
    <select id="otherIpoCase" parameterType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseIndexDto" resultType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseIndexDto">
      SELECT t.id,t.company_code,t.company_name,t.ipo_plate,t.industry_csrc
      FROM ipo_case t
      <where>
          ipo_plate = #{ipoPlate}
      </where>
      ORDER BY
      <if test="ipoPlate != null and ipoPlate != ''">
        FIELD(industry_csrc,#{industryCsrc}) desc,
      </if>
      RAND() limit 4;
    </select>

    <select id="ipoCompanyRank" parameterType="com.stock.capital.enterprise.ipoInterfaceH5.dto.IpoH5Dto" resultType="com.stock.capital.enterprise.ipoInterfaceH5.dto.IpoH5Dto">
        SELECT (SELECT COUNT(m.id) FROM ipo_h5 m)AS ipoCompanyCount,
        (SELECT COUNT(m.id) FROM sa_company m WHERE m.belongs_plate = '02' AND m.ipo_flag = '1' AND m.liststate = '0') AS saCompanyCount,
        t.id AS id,
        t.bid AS bid,
        t.research AS research,
        t.research_ranking AS researchRanking,
        t.patent AS patent,
        t.patent_ranking AS patentRanking,
        t.patent_ranking_year AS patentRankingYear,
        t.research_peo AS researchPeo,
        t.research_peo_core AS researchPeoCore,
        t.company_peo AS companyPeo,
        t.research_peo_ranking AS researchPeoRanking,
        t.research_peo_year AS researchPeoYear,
        t.taking AS taking,
        t.taking_ranking AS takingRanking,
        t.taking_ranking_year AS takingRankingYear,
        t.profits AS profits,
        t.profits_ranking AS profitsRanking,
        t.profits_ranking_year AS profitsRankingYear,
        t.assets AS assets,
        t.assets_ranking AS assetsRanking,
        t.assets_ranking_year AS assetsRankingYear,
        t.research_year AS researchYear,
        t.research_plate_fiavg AS researchPlateFiavg,
        t.research_plate_seavg AS researchPlateSeavg,
        t.research_plate_thavg AS researchPlateThavg,
        t.taking_fiavg AS takingFiavg,
        t.taking_seavg AS takingSeavg,
        t.taking_thavg AS takingThavg,
        t.industry_csrc AS industryCsrc
        FROM ipo_h5 t
        WHERE t.bid = #{bid}
    </select>

    <select id="ipoAvg" parameterType="com.stock.capital.enterprise.ipoInterfaceH5.dto.IpoH5DetailDto" resultType="com.stock.capital.enterprise.ipoInterfaceH5.dto.IpoH5DetailDto">
      SELECT t.id AS id,t.org_code AS orgCode,t.plate_type AS plateType,t.column_comment AS columnComment,
      t.report_date AS reportDate,t.year AS year,t.curr_val AS currVal
      FROM ipo_h5_detail t WHERE t.org_code = #{orgCode} AND t.column_comment = #{columnComment}
    </select>
</mapper>
