<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.capital.enterprise.ipoInterfaceH5.dao.IpoWechatPermisionBizMapper">
<select id="queryByUnionidOrOpenid" parameterType="map" resultType="com.stock.capital.enterprise.ipoInterfaceH5.dto.IpoWechatPermisionDto">
    select * from ipo_wechat_permision
    <where>
        <if test="openid != null and openid != ''">
            and openid = #{openid}
        </if>
        <if test="unionid != null and unionid != ''">
            and unionid = #{unionid}
        </if>
    </where>

</select>
    <!--保存用户-->
    <insert id="insert" parameterType="map" >
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT CONCAT(uuid_short(),'')
        </selectKey>
        insert into ipo_wechat_permision
        (id,unionid,openid,nickname,sex,province,city,country,headimgurl,access_token)
        values(#{id},#{unionid},#{openid},#{nickname},#{sex},#{province},#{city},#{country},#{headimgurl},#{access_token})
    </insert>
    <!--更新用户-->
    <update id="update" parameterType="map">
        update ipo_wechat_permision SET nickname = #{nickname},sex=#{sex},province=#{province},city=#{city},
        country=#{country},headimgurl=#{headimgurl},access_token=#{access_token}
        where  unionid = #{unionid}
    </update>
    <!--保存评论-->
   <insert id="submitReplay" parameterType="map" >
       <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
           SELECT CONCAT(uuid_short(),'')
       </selectKey>
       insert into ipo_comment
       (id
       ,pid
       ,comment_content
       ,comment_time
       ,comment_from_user
       ,case_id
       ,avatar
       ,is_selected_comment
       ,unionid
       ,openid
       ,state)
        VALUES (
          #{id},'0',#{commentText},#{commentTime},#{username},#{caseid}
          ,#{headPortrait},'0',#{unionid},#{openid},"1"
       )
   </insert>
    <!--获取评论列表-->
    <select id="getCommentList" parameterType="map" resultType="map">
        select * from ipo_comment where case_id = #{caseid} and state = '1' order by comment_time desc limit ${startPage},${endPage}
    </select>
    <!--获取评论数-->
    <select id="replayCount" parameterType="map" resultType="int">
        select count(0) from ipo_comment where case_id = #{caseid} and state = '1'
    </select>
    <!--判断是否点赞-->
    <select id="isFabulousYes" parameterType="map" resultType="map">
        select * from ipo_fabulous where caseid = #{caseid} and  unionid = #{unionid}
    </select>
    <!--判断是否收藏-->
    <select id="isCollectionYes" parameterType="map" resultType="map">
        select * from PLATFORM_SCAN_MAP where case_id = #{caseid} and  union_id = #{unionid} and flag = '1' and state='1'
    </select>
    <!--保存 点赞-->
    <insert id="fabulousNo" parameterType="map">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT CONCAT(uuid_short(),'')
        </selectKey>
        insert into ipo_fabulous (id,caseid,unionid,isLike)
        values(#{id},#{caseid},#{unionid},"1")
    </insert>
    <!--更新点赞-->
    <update id="fabulousYes" parameterType="map">
        update ipo_fabulous set isLike = #{isLike} where caseid = #{caseid} and  unionid = #{unionid}
    </update>
    <!--保存 收藏-->
    <insert id="collectionNo" parameterType="map">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT CONCAT(uuid_short(),'')
        </selectKey>
        insert into PLATFORM_SCAN_MAP (id,case_id,union_id,flag,state,option_time)
        values(#{id},#{caseid},#{unionid},"1","1",#{option_time})
    </insert>
    <!--更新收藏-->
    <update id="collectionYes" parameterType="map">
        update PLATFORM_SCAN_MAP set state = #{isLike},option_time= #{option_time} where case_id = #{caseid} and  union_id = #{unionid} and flag = '1'
    </update>
    <!--获取点赞数-->
    <select id="fabulousCount" parameterType="map" resultType="int">
        select count(*) from ipo_fabulous where caseid = #{caseid} and isLike = '1'
    </select>
    <!--获取收藏数-->
    <select id="collectionCount" parameterType="map" resultType="int">
        select count(*) from PLATFORM_SCAN_MAP where case_id = #{caseid} and flag = '1' and state = '1'
    </select>
</mapper>