@charset "utf-8";
/* CSS Document */

.clearfix:after {clear: both; display: block; content:""}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height:100%;
}

body {
	font-family:"微软雅黑";
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	color: #464646;
	height:100%;
	background-color:#f4f4f4;
	min-width:1060px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}

ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0
}
a{ color:inherit; text-decoration:none;}
a:hover{
	color:#e70014;
	text-decoration:none
}

.bigbox{
	position:fixed;
	left:50%;
	top:50%;
	width:340px;
	margin:-205px 0 0 -217px; 
	background-color:#FFF; 
	border:1px solid #ededed; 
	border:-radius:30px; 
	font-family:"微软雅黑";
}
.box_aa{ padding:30px 30px;}
.chongz{ overflow:hidden;}
.chongz_text{ font-size:14px; float:left; color:#999;}
.del{ float:right;}
.line_dashed{ border-bottom:1px dashed #e9eaf2; 
              padding-bottom:30px;}
.input_01 input,.input_02 input{ width:268px; height:32px;
              border-radius:4px; 
			   border:1px solid #c7cacc;
			   font-size:12px; color:#999;
			   padding-left:5px;
			   
			   }
.input_03 input{width:190px; height:32px; 
              border-radius:4px; 
			   border:1px solid #c7cacc;
			   font-size:12px; 
			   color:#999;padding-left:5px;
			   margin-top:20px;}
.input_01{ padding-bottom:20px;
           padding-top:20px;}
.input_02,input_03{ padding-bottom:10px;}
.input_03{ overflow:hidden; 
          }

.input_03 input{ float:left;}

/*登陆条*/
.handle_text{ width:280px; 
              height:40px;
			   background:#207899;
			   margin-top:30px;
}

.handle_text a{ color:#FFF; font-size:14px;
                text-align:center;
				 display:block;
				 line-height:40px;				 
}
.handle_text a:hover{background:#DE1520;}

/*收集验证提示*/
.img{ background:url(../images/green_icon.png) no-repeat;
      width:24px; height:24px;
	  float:left;
	  margin-top:18px;
}
/*重置密码用户头像栏*/
.user{ background:url(../images/user.png) no-repeat;
      width:36px; height:36px;
	  float:left;
	  margin-top:18px;
	  margin-left:80px;
}
.green_text_01_04{font-size:15px; 
                  color:#404040; 
                  margin-top:25px;
				   float:left;
				   margin-left:10px;   
            }


.green_text{font-family:"微软雅黑"; overflow:hidden;
			}
.green_text_01{ font-size:15px; 
                color:#404040;
				  padding-top:15px;}
.green_text_01 a{color:#36C;}

.green_text_01_02{font-size:15px; 
                  color:#404040; 
                  padding-top:20px;
				   float:left;
				   margin-left:10px;
				   width:160px;
            }
			
.green_text_01_03{font-size:15px; 
                  color:#404040; 
                  padding-top:20px;
				   float:left;
				   margin-left:10px;   
            }

.green_text_01_02 a{ color:#207899;}

.input_03_00 input{width:100px; height:32px; 
              border-radius:4px; 
			   border:1px solid #c7cacc;
			   font-size:12px; 
			   color:#CCC;padding-left:5px;
			   }
.input_03_00{ overflow:hidden; 
          
		  }
.huan{background:url(../images/yanzheng.png) no-repeat;
      width:82px;
	  height:35px;
	  float:left; margin-left:10px;
	  
	  }
.huan_text a{ margin-left:10px; 
              display:block; 
              float:left; margin-top:7px;
              color:#207899;
}

.yanzheng_00{ float:right; 
              width:63px; height:32px;
			   background:#207899;
			   margin-top:22px;
			   color:#FFF;
			   text-align:center;
			   line-height:32px;
		   }
.yanzheng_00a{background:#E6E6E6;color:#818080;border:1px solid #CCCCCC;}

				
.input_03_00 input{ float:left;
                   color:#999;
}
.handle_11{ padding-top:90px;
            clear:both; 
			font-family:"微软雅黑";
			}
.denglu{width:220px;
       float:right;
	    margin:-35px -55px 0 0;}
.agreement span a,.hangdle_text_01_12{ color:#36F;}

/*tab切换 @@@ password_01*/
.lib_tabborder{border-bottom:1px solid #e9eaf2;
               margin-top:10px;
			    padding-top:4px;
}
.lib_Menubox {height:36px;
            line-height:36px;
			 font-size:14px;
			}

.lib_Menubox ul{margin:0px;
              padding:0px;
			   list-style:none;
			   margin-left:24px;
			   height:36px;
			   text-align:center;
			   }
.lib_Menubox li{float:left;
              display:block;
			   cursor:pointer;
			   width:114px;
			   color:#333;
			   font-weight:bold;
			   margin-right:2px;
			   height:36px;
			   line-height:36px;
			   }
.lib_Menubox li.hover{padding:0px;
					   width:116px;
					   border-bottom:2px solid #DE1520;
                     color:#DE1520;
					   height:36px;
					   line-height:36px;
					   }