<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.common.dao.DeclareIdeaMapper" >
  <resultMap id="BaseResultMap" type="com.stock.capital.enterprise.common.entity.DeclareIdea" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="declare_type_id" property="declareTypeId" jdbcType="VARCHAR" />
    <result column="idea_content" property="ideaContent" jdbcType="VARCHAR" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="add_ticapital_enterprise_devme" property="addTicapitalEnterpriseDevme" jdbcType="TIMESTAMP" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="private_status" property="privateStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, declare_type_id, idea_content, person_id, add_ticapital_enterprise_devme, company_id, 
    create_user, create_time, update_user, update_time, status, private_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdeaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from declare_idea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from declare_idea
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from declare_idea
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdeaExample" >
    delete from declare_idea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdea" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT CONCAT(uuid_short(),'')
    </selectKey>
    insert into declare_idea (id, declare_type_id, idea_content, 
      person_id, add_ticapital_enterprise_devme, 
      company_id, create_user, create_time, 
      update_user, update_time, status, 
      private_status)
    values (#{id,jdbcType=VARCHAR}, #{declareTypeId,jdbcType=VARCHAR}, #{ideaContent,jdbcType=VARCHAR}, 
      #{personId,jdbcType=VARCHAR}, #{addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP}, 
      #{companyId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{privateStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdea" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT CONCAT(uuid_short(),'')
    </selectKey>
    insert into declare_idea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="declareTypeId != null" >
        declare_type_id,
      </if>
      <if test="ideaContent != null" >
        idea_content,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="addTicapitalEnterpriseDevme != null" >
        add_ticapital_enterprise_devme,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="privateStatus != null" >
        private_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="declareTypeId != null" >
        #{declareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="ideaContent != null" >
        #{ideaContent,jdbcType=VARCHAR},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="addTicapitalEnterpriseDevme != null" >
        #{addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="privateStatus != null" >
        #{privateStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdeaExample" resultType="java.lang.Integer" >
    select count(*) from declare_idea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update declare_idea
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.declareTypeId != null" >
        declare_type_id = #{record.declareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.ideaContent != null" >
        idea_content = #{record.ideaContent,jdbcType=VARCHAR},
      </if>
      <if test="record.personId != null" >
        person_id = #{record.personId,jdbcType=VARCHAR},
      </if>
      <if test="record.addTicapitalEnterpriseDevme != null" >
        add_ticapital_enterprise_devme = #{record.addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.privateStatus != null" >
        private_status = #{record.privateStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update declare_idea
    set id = #{record.id,jdbcType=VARCHAR},
      declare_type_id = #{record.declareTypeId,jdbcType=VARCHAR},
      idea_content = #{record.ideaContent,jdbcType=VARCHAR},
      person_id = #{record.personId,jdbcType=VARCHAR},
      add_ticapital_enterprise_devme = #{record.addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      private_status = #{record.privateStatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdea" >
    update declare_idea
    <set >
      <if test="declareTypeId != null" >
        declare_type_id = #{declareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="ideaContent != null" >
        idea_content = #{ideaContent,jdbcType=VARCHAR},
      </if>
      <if test="personId != null" >
        person_id = #{personId,jdbcType=VARCHAR},
      </if>
      <if test="addTicapitalEnterpriseDevme != null" >
        add_ticapital_enterprise_devme = #{addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="privateStatus != null" >
        private_status = #{privateStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdea" >
    update declare_idea
    set declare_type_id = #{declareTypeId,jdbcType=VARCHAR},
      idea_content = #{ideaContent,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=VARCHAR},
      add_ticapital_enterprise_devme = #{addTicapitalEnterpriseDevme,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      private_status = #{privateStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.stock.capital.enterprise.common.entity.DeclareIdeaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from declare_idea
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>