<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoCaseBizMapper">
  <resultMap id="BaseResultMap" type="com.stock.capital.enterprise.ipoCase.dto.CompanyOverviewVo">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="company_zh_name" property="companyZhName" jdbcType="VARCHAR"/>
    <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
    <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
    <result column="ipo_plate" property="ipoPlate" jdbcType="VARCHAR"/>
    <result column="addr_country" property="addrCountry" jdbcType="VARCHAR"/>
    <result column="addr_prov" property="addrProv" jdbcType="VARCHAR"/>
    <result column="addr_city" property="addrCity" jdbcType="VARCHAR"/>
    <result column="addr_area" property="addrArea" jdbcType="VARCHAR"/>
    <result column="company_nature" property="companyNature" jdbcType="VARCHAR"/>
    <result column="major_businesses" property="majorBusinesses" jdbcType="VARCHAR"/>
    <result column="industry_status_overview" property="industryStatusOverview" jdbcType="VARCHAR"/>
    <result column="industry_csrc" property="industryCsrc" jdbcType="VARCHAR"/>
    <result column="registered_assets" property="registeredAssets" jdbcType="DECIMAL"/>
    <result column="structure_label" jdbcType="VARCHAR" property="structureLabel"/>
    <result column="structure_url" property="structureUrl" jdbcType="VARCHAR"/>
    <result column="issue_condition" property="issueCondition" jdbcType="VARCHAR"/>
    <result column="stragetic_industries" property="strageticIndustries" jdbcType="VARCHAR"/>
    <result column="placing_mechanism" property="placingMechanism" jdbcType="VARCHAR"/>
      <result column="industryCsrcCode" property="industryCsrcCode" jdbcType="VARCHAR"/>
    <result column="plateCode" property="plateCode" jdbcType="VARCHAR" />
    <result column="nationalIndustries" property="nationalIndustries" jdbcType="VARCHAR" />
    <result column="issueConditionShortName" property="issueConditionShortName" jdbcType="VARCHAR" />
    <result column="case_status" property="caseStatus" jdbcType="VARCHAR" />
    <result column="greenPassage" property="greenPassage" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="SupCusResultMap" type="com.stock.capital.enterprise.ipoCase.dto.SupplierCustomerMainDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="report_period" property="reportPeriod" jdbcType="TIMESTAMP" />
    <result column="main_type" property="mainType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <collection property="supplierCustomerInfoList" ofType="com.stock.capital.enterprise.ipoCase.dto.SupplierCustomerInfoDto">
      <id column="e_id" property="id" jdbcType="VARCHAR" />
      <result column="e_bid" property="bid" jdbcType="VARCHAR" />
      <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
      <result column="company_name" property="companyName" jdbcType="VARCHAR" />
      <result column="first_year_content" property="firstYearContent" jdbcType="VARCHAR" />
      <result column="first_year_amount" property="firstYearAmount" jdbcType="DECIMAL" />
      <result column="first_year_ratio" property="firstYearRatio" jdbcType="DECIMAL" />
      <result column="second_year_content" property="secondYearContent" jdbcType="VARCHAR" />
      <result column="second_year_amount" property="secondYearAmount" jdbcType="DECIMAL" />
      <result column="second_year_ratio" property="secondYearRatio" jdbcType="DECIMAL" />
      <result column="third_year_content" property="thirdYearContent" jdbcType="VARCHAR" />
      <result column="third_year_amount" property="thirdYearAmount" jdbcType="DECIMAL" />
      <result column="third_year_ratio" property="thirdYearRatio" jdbcType="DECIMAL" />
      <result column="one_period_content" property="onePeriodContent" jdbcType="VARCHAR" />
      <result column="one_period_amount" property="onePeriodAmount" jdbcType="DECIMAL" />
      <result column="one_period_ratio" property="onePeriodRatio" jdbcType="DECIMAL" />
    </collection>
  </resultMap>

  <select id="getIpoCaseDetail" parameterType="string" resultMap="BaseResultMap">
    SELECT
    ic.id,
    ic.case_status,
    (SELECT GROUP_CONCAT(m.label_name) FROM maa_conf_label m WHERE m.label_code = 'IPO_SPECIAL_ARRANGE' AND m.status = '1' AND FIND_IN_SET(m.label_value,ic.special_arrange))AS specialArrange,
    (SELECT GROUP_CONCAT(m.label_name) FROM maa_conf_label m WHERE m.label_code = 'IPO_GREEN_PASSAGE' AND m.status = '1' AND FIND_IN_SET(m.label_value,ic.green_passage)) AS greenPassage,
    ic.company_zh_name,
    ic.industry_status_overview,
    ic.industry_csrc AS industryCsrcCode,
    ic.ipo_plate plateCode,
    (SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_PLATE' AND mcl.label_value = ic.ipo_plate) AS ipo_plate,
    (SELECT group_concat(mcl1.label_name) FROM maa_conf_label mcl1 WHERE mcl1.label_code = 'INDUSTRY_CSRC_2012' AND find_in_set(mcl1.label_value,TRIM(LEADING '0' FROM ic.industry_csrc))) AS industry_csrc,
    ic.company_name,
    ic.company_code,
    ic.issue_condition,
    (SELECT group_concat(CONCAT((SELECT m1.label_name FROM maa_conf_label m1 WHERE m1.label_code = 'IPO_ISSUE_CONDITION_SIMPLE' AND
m1.id = m.p_id),' · ',m.label_name))
FROM maa_conf_label m WHERE m.label_code = 'IPO_ISSUE_CONDITION_SIMPLE' AND find_in_set(m.label_value,ic.issue_condition)) issueConditionShortName,
    (select GROUP_CONCAT(m.label_name) FROM maa_conf_label m where m.label_code = 'IPO_ISSUE_CONDITION'
    AND m.status = '1' and FIND_IN_SET(m.label_value,ic.issue_condition)) AS issueConditionName,
    ( SELECT
        REGEXP_REPLACE(p.PARAMCHNAME, "[a-z]|[A-Z]|[-]|[ ]|[.]", "")
        FROM cfp_pvalue p
        where p.NIPMID ='127000000001707338' AND p.eisdel = '0' AND p.PARAMCODE = ic.addr_country ) AS addr_country,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_prov) AS addr_prov,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_city) AS addr_city,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_area) AS addr_area,
    CONVERT(ic.registered_assets,DECIMAL(18,2)) AS registered_assets,
    (SELECT person_name FROM ipo_person_info WHERE bid = #{id} AND person_type = '1') AS actualController,
    (SELECT person_name FROM ipo_person_info WHERE bid = #{id} AND person_type = '2') AS controlShareholder,
    (SELECT group_concat(mcl2.label_name) FROM maa_conf_label mcl2 WHERE mcl2.label_code = 'REP_COMPANY_NATURE' AND find_in_set(mcl2.label_value,ic.company_nature)) AS company_nature,
    ic.major_businesses,
    (SELECT group_concat(mcl3.label_name) FROM maa_conf_label mcl3 WHERE mcl3.label_code = 'IPO_STRUCTURE_TYPE' AND find_in_set(mcl3.label_value,ic.structure_label)) AS structure_label,
    ic.structure_url,
    (SELECT group_concat(mcl4.label_name) FROM maa_conf_label mcl4 WHERE mcl4.label_code = 'STRAGETIC_EMERGING_INDUSTRIES' AND find_in_set(mcl4.label_value,ic.stragetic_industries)) AS stragetic_industries,
    (SELECT group_concat(mcl5.label_name) FROM maa_conf_label mcl5 WHERE mcl5.label_code = 'IPO_PLACING_MECHANISM' AND find_in_set(mcl5.label_value,ic.placing_mechanism)) AS placing_mechanism,
    (SELECT group_concat(mcl6.label_name) FROM maa_conf_label mcl6 WHERE mcl6.label_code = 'INDUSTRIES_NATIONAL_2020' AND find_in_set(mcl6.label_value,ic.national_industries)) AS nationalIndustries
  FROM
    ipo_case ic
  WHERE
    ic.id = #{id}
   limit 1
  </select>


  <select id="getAssociatedCaseList" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.IpoAssociatedCaseVo">
      select ic.id AS caseId, ic.title AS progressName, ic.org_code AS orgCode,
             (select iec_result from ipo_process w2 where ic.id = w2.bid and w2.iec_result is not null order by w2.process_time desc limit 1) AS  iecResult,
             DATE_FORMAT(ip1.process_time,'%Y-%m-%d') AS processTime,ccsi.release_flag as releaseFlag,ic.open_flag AS openFlag
      from ipo_case ic
             left join case_common_status_info ccsi on ccsi.case_id = ic.id
             LEFT JOIN (SELECT t.* FROM (
                                        SELECT
                                               bid,
                                               process_time,
                                               iec_result
                                        FROM
                                             ipo_process
                                        WHERE process_type_code = '07'
                                           or process_type_code = '35'
                                           or process_type_code = '38'
                                        ORDER BY
                                                 process_time DESC
                                        LIMIT 2147483647
                                        ) t
                        GROUP BY
                                 t.bid) ip ON ic.id = ip.bid
             LEFT JOIN (SELECT t.* FROM (
                                        SELECT
                                               bid,
                                               process_time,
                                               iec_result
                                        FROM
                                             ipo_process
                                        WHERE process_type_code = '04'
                                           or process_type_code = '31'
                                        ORDER BY
                                                 process_time DESC
                                        LIMIT 2147483647
                                        ) t
                        GROUP BY
                                 t.bid) ip1 ON ic.id = ip1.bid
      where 1=1
        AND ccsi.release_flag = '1'
        AND ic.org_code = (select org_code from  ipo_case where id = #{id})
        AND ic.id != #{id}
        ORDER BY processTime DESC
  </select>

  <select id="getCodeAndNameById" parameterType="string" resultType="map">
    SELECT org_code AS orgCode,company_name AS companyName,ipo_plate AS ipoPlate FROM ipo_case WHERE id = #{id} limit 1
  </select>

  <select id="getIpoShareData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.IpoPersonInfoDto">
    SELECT
      t.id,
      t.bid,
      t.person_name AS personName,
      t.shareName AS shareHolderNature,
      CONVERT(t.share_num,DECIMAL(18,2)) AS shareNum,
      CONVERT(t.share_num / t.sumNum * 100, DECIMAL(18,2)) AS shareRatio
    FROM
      (
        SELECT
          ipi.id,
          ipi.bid,
          ipi.person_name,
          (
            SELECT
              mcl.label_name
            FROM
              maa_conf_label mcl
            WHERE
              mcl.label_code = 'IPO_SHAREHOLDER_NATURE'
            AND mcl.label_value = ipi.share_holder_nature
          ) AS shareName,
          ipi.share_num,
          (
            SELECT
              registered_assets
            FROM
              ipo_case
            WHERE
            id =  #{bid}
          ) AS sumNum
        FROM
          ipo_person_info ipi
        WHERE
          ipi.person_type = '3'
        AND ipi.bid = #{bid}
      ) t
  </select>

  <select id="getIpoMarketData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.OtherMarketInfoDto">
    SELECT id, bid, market_type AS marketTypeCode,(SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_CAPITAL_MARKET' AND mcl.label_value = market_type) AS marketType,
     company_code AS companyCode, company_name AS companyName, list_time AS listTime, delist_time AS delistTime FROM ipo_other_market_info
    WHERE bid = #{bid}
  </select>

  <select id="getOtcData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.OtherMarketInfoDto">
    SELECT t.company_code companyCode,t.otc_level,
    (select m.label_name FROM maa_conf_label m where m.label_code = 'IPO_OTC_LEVEL'
        AND m.status = '1' and m.label_value=t.otc_level) AS otcLevelName,
    t.host_broker_name hostBrokerName,DATE_FORMAT(t.publish_time,'%Y-%m-%d') otcPublishTime
    FROM ipo_otc_listing t WHERE t.bid = #{id}
  </select>

  <select id="queryCompanyForFin" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseListVo">
    SELECT tb.*,year(tb.date) finYear,(CASE WHEN DATE_FORMAT(tb.date,'%m%d') &lt;= '0331' THEN '003' WHEN DATE_FORMAT(tb.date,'%m%d') > '0331'
    AND DATE_FORMAT(tb.date,'%m%d') &lt;= '0630' THEN '002' WHEN DATE_FORMAT(tb.date,'%m%d') > '0630'
    AND DATE_FORMAT(tb.date,'%m%d') &lt;= '0930' THEN '004' WHEN DATE_FORMAT(tb.date,'%m%d') > '0930'
    AND DATE_FORMAT(tb.date,'%m%d') &lt;= '1231' THEN '001' ELSE '' END) finType
    FROM(SELECT t1.SECURITY_CD companyCode,t1.SECURITY_NM companyName,
    (SELECT DATE_FORMAT(m.report_period,'%Y-%m-%d') FROM ipo_main_income_info m WHERE m.bid = t.id LIMIT 1) AS date
    FROM ipo_case t,vc_company t1 WHERE t.id = #{id} AND t.company_name = t1.SECURITY_NM) AS tb
    WHERE tb.date != '' and tb.date is not null ORDER BY tb.companyCode DESC
  </select>

  <select id="getSpliteData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoSplitDto">
    SELECT t1.split_memo AS splitMemo,t1.id AS id,
    (SELECT group_concat(mcl4.label_name) FROM maa_conf_label mcl4 WHERE mcl4.label_code = 'IPO_SPLIT_MARKET' AND find_in_set(mcl4.label_value,t2.split_market)) AS splitMarket,
    CONCAT(t2.company_name,'(',t2.company_code,')') AS companyName,
    t2.company_code AS companyCode,
    t2.share_proportion AS shareProportion
    FROM ipo_split_map AS t1, ipo_split AS t2
    WHERE t1.id = t2.bid AND t1.bid = #{bid}
  </select>

  <select id="getVluationData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoValuationDto">
    SELECT a.valuationType, CASE a.valuationPriceUnit
	  WHEN "人民币" THEN
		  "元"
	  ELSE
		 a.valuationPriceUnit
    END AS valuationPriceUnit,
    CASE a.valuationEquityUnit
	  WHEN "人民币" THEN
		  "元"
	  ELSE
		   a.valuationEquityUnit
    END AS valuationEquityUnit,
    a.valuationDate, a.valuationPrice, a.valuationEquity, a.valuationValue, a.valuationMemo
    FROM (
    SELECT
        (SELECT group_concat(mc.label_name) FROM maa_conf_label mc WHERE mc.label_code = 'valuation_type' AND find_in_set(mc.label_value,valuation_type)) AS valuationType,
		    (SELECT group_concat(mc.label_name) FROM maa_conf_label mc WHERE mc.label_code = 'CURRENCY_CODE' AND find_in_set(mc.label_value,valuation_price_unit)) AS valuationPriceUnit,
		    (SELECT group_concat(mc.label_name) FROM maa_conf_label mc WHERE mc.label_code = 'CURRENCY_CODE' AND find_in_set(mc.label_value,valuation_equity_unit)) AS valuationEquityUnit,
        DATE_FORMAT(valuation_date,'%Y-%m-%d') AS valuationDate,
        valuation_price AS valuationPrice,
        valuation_equity AS valuationEquity,
        valuation_value AS valuationValue,
        valuation_memo AS valuationMemo
        FROM ipo_valuation
    WHERE bid =  #{bid}) as a
  </select>

  <select id="getIpoCompetitorData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.MainCompetitorInfoDto">
    SELECT id, bid, company_code AS companyCode, company_name AS companyName, situation FROM ipo_main_competitor_info WHERE bid = #{bid}
  </select>

  <select id="getCompetitorData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyPatentDto">
    SELECT bid, '数量' AS labelName, domestic_invention AS fm,domestic_newtype AS sy, domestic_design as wg,  foreign_patent as gw,
      (IFNULL(domestic_invention,0)+IFNULL(domestic_newtype,0)+IFNULL(domestic_design,0)+IFNULL(foreign_patent,0)) AS hj
    FROM ipo_technology AS t1 WHERE bid = #{bid}
    UNION
    SELECT bid,'占比' AS labelName, IFNULL(domestic_invention,0)/t2.hj * 100 AS fm, IFNULL(domestic_newtype,0)/t2.hj * 100 AS sy, IFNULL(domestic_design,0)/t2.hj * 100 AS wg,IFNULL(foreign_patent,0)/t2.hj * 100 as gw,t2.hj/t2.hj * 100 AS hj
    FROM ipo_technology AS t1,
	    (SELECT IFNULL(domestic_invention,0)+IFNULL(domestic_newtype,0)+IFNULL(domestic_design,0)+IFNULL(foreign_patent,0) AS hj FROM ipo_technology
	  WHERE bid = #{bid}) AS t2
    WHERE t1.bid = #{bid}
  </select>


  <select id="getDevCompute" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyTableDto">
   	SELECT '研发投入' AS labelName, dev_input_fi AS firstYearValue, dev_input_se AS secondYearValue,
    dev_input_th AS thirdYearValue, dev_input_fo AS forthYearValue,
		IFNULL(dev_input_fi,0) + IFNULL(dev_input_se,0) + IFNULL(dev_input_th,0) + IFNULL(dev_input_fo,0) AS allNumValue
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '营业收入' AS labelName, trade_fi AS firstYearValue, trade_se AS secondYearValue,
    trade_th AS thirdYearValue, trade_fo AS forthYearValue,
		IFNULL(trade_fi,0) + IFNULL(trade_se,0) + IFNULL(trade_th,0) + IFNULL(trade_fo,0) AS allNumValue
    FROM ipo_technology WHERE bid =  #{bid}
    UNION
		SELECT '研发投入占营业收入的比例' AS labelName, TRUNCATE(dev_input_fi/trade_fi,4)*100 AS firstYearValue, TRUNCATE(dev_input_se/trade_se,4)*100 AS secondYearValue, TRUNCATE(dev_input_th/trade_th,4)*100 AS thirdYearValue, TRUNCATE(dev_input_fo/trade_fo,4)*100 AS forthYearValue,
    TRUNCATE((IFNULL(dev_input_fi,0) + IFNULL(dev_input_se,0) + IFNULL(dev_input_th,0) + IFNULL(dev_input_fo,0))
		/(IFNULL(trade_fi,0) + IFNULL(trade_se,0) + IFNULL(trade_th,0) + IFNULL(trade_fo,0)),4)*100 AS allNumValue
    FROM ipo_technology WHERE bid = #{bid}
  </select>


  <select id="getCoreCompute" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyTableDto">
    SELECT '核心技术人员' AS labelName,
    core_fi AS firstYearValue, TRUNCATE(core_fi/count_fi,4)*100 AS firstYearPro,
    core_se AS secondYearValue, TRUNCATE(core_se/count_se,4)*100 AS secondYearPro,
    core_th AS thirdYearValue,  TRUNCATE(core_th/count_th,4)*100 AS thirdYearPro,
    core_fo AS forthYearValue, TRUNCATE(core_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '研发技术人员' AS labelName,
    dev_fi AS firstYearValue, TRUNCATE(dev_fi/count_fi,4)*100 AS firstYearPro,
    dev_se AS secondYearValue, TRUNCATE(dev_se/count_se,4)*100 AS secondYearPro,
    dev_th AS thirdYearValue, TRUNCATE(dev_th/count_th,4)*100 AS thirdYearPro,
    dev_fo AS forthYearValue, TRUNCATE(dev_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '公司员工总数' AS labelName,
    count_fi AS firstYearValue, TRUNCATE(count_fi/count_fi,4)*100 AS firstYearPro,
    count_se AS secondYearValue, TRUNCATE(count_se/count_se,4)*100 AS secondYearPro,
    count_th AS thirdYearValue, TRUNCATE(count_th/count_th,4)*100 AS thirdYearPro,
    count_fo AS forthYearValue, TRUNCATE(count_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
  </select>

  <select id="getDate" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyDateDto">
    SELECT '项目时间' AS dateName,
    DATE_FORMAT(project_date_fi,'%Y-%m-%d') AS firstYearDate,
    DATE_FORMAT(project_date_se,'%Y-%m-%d') AS secondYearDate,
    DATE_FORMAT(project_date_th,'%Y-%m-%d') AS thirdYearDate,
    DATE_FORMAT(project_date_fo,'%Y-%m-%d') AS forthYearDate
    FROM ipo_technology WHERE bid=#{bid}
    UNION
    SELECT '类别时间' AS dateName,
    DATE_FORMAT(category_date_fi,'%Y-%m-%d') AS firstYearDate,
    DATE_FORMAT(category_date_se,'%Y-%m-%d') AS secondYearDate,
    DATE_FORMAT(category_date_th,'%Y-%m-%d') AS thirdYearDate,
    DATE_FORMAT(category_date_fo,'%Y-%m-%d') AS forthYearDate
    FROM ipo_technology WHERE bid=#{bid}
  </select>

  <select id="selectTechnologyByBid" resultType="java.util.Map" parameterType="java.lang.String" >
    select
		CASE dev_remarks WHEN "" THEN NULL ELSE dev_remarks END AS devRemarks,
		dev_input_fi AS devInputFi,
    dev_input_se AS devInputSe, dev_input_th AS devInputTh, dev_input_fo AS devInputFo, trade_fi AS tradeFi,
    trade_se AS tradeSe, trade_th AS tradeTh, trade_fo AS tradeFo,
		CASE patent_remarks WHEN "" THEN NULL ELSE patent_remarks END AS patentRemarks,
		CASE core_remarks WHEN "" THEN NULL ELSE core_remarks END AS coreRemarks,
    core_fi AS coreFi,
    core_se AS coreSe, core_th AS coreTh, core_fo AS coreFo, dev_fi AS devFi, dev_se AS devSe,
    dev_th AS devTh, dev_fo AS devFo, count_fi AS countFi, count_se AS countSe, count_th AS countTh,
    count_fo AS countFo
    from ipo_technology
    where bid = #{bid,jdbcType=VARCHAR}
  </select>

  <select id="selectPatentById" resultType="java.util.Map" parameterType="java.lang.String" >
    SELECT t.ipo_plate AS ipoPlate,t1.domestic_invention AS domesticInvention,
    t1.domestic_newtype AS domesticNewtype,t1.domestic_design AS domesticDesign,
    t1.foreign_patent AS foreignPatent
    FROM ipo_case AS t, ipo_technology AS t1
    WHERE 1=1
    AND t.id = t1.bid
    AND t.ipo_plate = '069001001006'
    AND t.id = #{id}
  </select>

  <select id="getRemarks" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyRemarksDto">
    SELECT dev_remarks as devRemarks,patent_remarks AS patentRemarks,core_remarks AS coreRemarks
    FROM ipo_technology WHERE bid=#{bid}
  </select>


  <select id="getSupplierOrCustomerData" resultMap="SupCusResultMap">
    SELECT iscm.id,iscm.bid,iscm.report_period,iscm.main_type,iscm.title,iscm.remark,isci.id e_id,isci.bid e_bid,isci.company_code, isci.company_name, isci.first_year_content, isci.first_year_amount, isci.first_year_ratio,
    isci.second_year_content, isci.second_year_amount, isci.second_year_ratio, isci.third_year_content, isci.third_year_amount,
    isci.third_year_ratio, isci.one_period_content, isci.one_period_amount, isci.one_period_ratio
    FROM ipo_supplier_customer_main iscm
    LEFT JOIN ipo_supplier_customer_info isci ON iscm.id = isci.bid
    WHERE iscm.bid = #{bid} AND iscm.main_type = #{mainType}
  </select>

  <select id="getIncomeData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.MainIncomeInfoDto">
     SELECT
      id,
      bid,
      report_period AS reportPeriod,
      business_name AS businessName,
      CONVERT(one_period_amount,DECIMAL(18,2)) AS onePeriodAmount,
      CONVERT(third_year_amount,DECIMAL(18,2)) AS thirdYearAmount,
      CONVERT(second_year_amount,DECIMAL(18,2)) AS secondYearAmount,
      CONVERT(first_year_amount,DECIMAL(18,2)) AS firstYearAmount,
      CONVERT(one_period_amount/(SELECT SUM(one_period_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS onePeriodRatio,
      CONVERT(third_year_amount/(SELECT SUM(third_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS thirdYearRatio,
      CONVERT(second_year_amount/(SELECT SUM(second_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS secondYearRatio,
      CONVERT(first_year_amount/(SELECT SUM(first_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS firstYearRatio
    FROM
      ipo_main_income_info
    WHERE
      bid = #{bid}
  </select>

  <select id="getIntermediaryOrgData" resultType="com.stock.capital.enterprise.ipoCase.dto.IntermediaryOrgDto">
    SELECT
    t.*, mcl.label_name AS intermediaryTypeName
    FROM
    (
    SELECT
    iio.intermediary_type AS intermediaryType,
    iio.org_type AS orgType,
    iio.org_name AS orgName,
    iio.org_code AS orgCode,
    iio.valid_flag AS validFlag,
    iio.represent_person AS representPerson,
    iio.agent_person AS agentPerson,
    iio.assist_person AS assistPerson,
    CASE
    WHEN iio.intermediary_type = '1' THEN
    'IPO_SPONSOR_TYPE'
    WHEN iio.intermediary_type = '2' THEN
    'IPO_SECURITY_TYPE'
    WHEN iio.intermediary_type = '3' THEN
    'IPO_LAWYER_TYPE'
    WHEN iio.intermediary_type = '4' THEN
    'IPO_ACCOUNT_TYPE'
    WHEN iio.intermediary_type = '5' THEN
    'IPO_ASSET_VALUATION_TYPE'
    WHEN iio.intermediary_type = '6' THEN
    'ipo_depository_type'
    ELSE
    ''
    END AS labelCode
    FROM
    ipo_intermediary_org iio
    WHERE
    iio.bid = #{bid}
    <if test="validFlag != null and validFlag != ''">
      AND iio.valid_flag = #{validFlag}
    </if>
    ) t
    JOIN maa_conf_label mcl ON t.labelCode = mcl.label_code
    AND t.orgType = mcl.label_value
    ORDER BY t.intermediaryType
  </select>

  <select id="getHeadData" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.HeadDataVo">
    SELECT
    ic.title,
    ic.establish_date AS establishDate,
    (SELECT group_concat(mcl2.label_name) FROM maa_conf_label mcl2 WHERE mcl2.label_code = 'IPO_SPECIAL_ARRANGE' AND find_in_set(mcl2.label_value,ic.special_arrange)) AS specialArrange,
    CASE WHEN ic.ipo_plate = '069001001006' THEN 1 WHEN ic.ipo_plate = '069001003001' THEN 2 ELSE 0 END AS isTechBoard,
    (SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_GREEN_PASSAGE' AND
    mcl.label_value = ic.green_passage) AS greenPassage,
    (SELECT mcl1.label_name FROM maa_conf_label mcl1 WHERE mcl1.label_code = 'IPO_STATUS' AND
    mcl1.label_value = ic.case_status) AS processLabel,
    ip.iec_result AS iecResult,
    ip3.iec_result AS registerResult,
    ip4.iec_result AS reviewResult,
    (select iec_result from ipo_process w2 where ic.id = w2.bid and w2.iec_result is not null order by w2.process_time desc limit 1) labelResult,
    DATEDIFF(
      (
        SELECT
          MAX(process_time)
        FROM
          ipo_process
        WHERE
          tree_type_code = '00'
        AND bid = ic.id
      ),
      (
        SELECT
          MIN(process_time)
        FROM
          ipo_process
        WHERE
          tree_type_code = '00'
        AND bid = ic.id
      )
    ) AS supportDuration,
    DATEDIFF(ip2.maxDate, ip2.minDate) AS auditDuration
  FROM
    ipo_case ic
  LEFT JOIN (
    SELECT
      bid,
      iec_result
    FROM
      ipo_process
    WHERE
      (process_type_code = '07' or process_type_code = '35')
    AND bid = #{id}
    ORDER BY
      process_time DESC
    LIMIT 1
  ) ip ON ic.id = ip.bid
  LEFT JOIN (
    SELECT
      bid,
      iec_result
    FROM
      ipo_process
    WHERE
      process_type_code = '38'
    AND bid = #{id}
    ORDER BY
      process_time DESC
    LIMIT 1
  ) ip3 ON ic.id = ip3.bid
  LEFT JOIN (
    SELECT
      bid,
      iec_result
    FROM
      ipo_process
    WHERE
      process_type_code = '44'
    AND bid = #{id}
    ORDER BY
      process_time DESC
    LIMIT 1
  ) ip4 ON ic.id = ip4.bid
  LEFT JOIN (
    SELECT
      bid,
      MAX(process_time) AS maxDate,
      MIN(process_time) AS minDate
    FROM
      ipo_process
    WHERE
      tree_type_code = '01'
    AND bid = #{id}
  ) ip2 ON ic.id = ip2.bid
  WHERE
    ic.id = #{id}
    LIMIT 1
  </select>

  <select id="getCaseFavoriteAndNote" parameterType="java.util.Map" resultType="java.util.Map">
        select max(temp.caseNote) as caseNote,max(temp.favoriteId) as favoriteId from
        (select
         ccn.note as caseNote,'' as favoriteId
        from
          case_common_notes ccn
        where ccn.case_id  = #{caseId} and ccn.`type` = #{type} and ccn.user_id = #{userId} and ccn.company_id = #{companyId}
        union all
        select
        '',ccf.id as favoriteId
        from
          case_common_favorite ccf
        where ccf.case_id = #{caseId} AND  ccf.`type` = #{type} and ccf.user_id = #{userId} and ccf.company_id = #{companyId}) temp
  </select>

  <select id="getEstimateType" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT estimate_type FROM ipo_case
    <where>
      id = #{id}
    </where>
    limit 1
  </select>
</mapper>
