<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoCaseListMapper">
  <select id="getTreeTagByCode" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.RegTreeDto">
    SELECT
      id,
      p_id pId,
      label_name labelName,
      label_value labelValue,
      0 num
    FROM
      maa_conf_label
    WHERE
    STATUS = '1'
    AND p_id = '0'
    AND label_code = #{labelCode}
    ORDER BY
      label_sort
  </select>

  <select id="getLabelByCode" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.RegTreeDto">
    SELECT
    id,
    p_id pId,
    label_name labelName,
    label_value labelValue
    FROM
    maa_conf_label
    WHERE
    STATUS = '1'
    AND label_code = #{labelCode}
    ORDER BY
    label_sort
  </select>

  <select id="queryIntermediary" parameterType="string" resultType="map">
    SELECT obo.COMPANYNAME value,obo.COMPANYCODE labelValue
    FROM orga_bi_orgbaseinfo obo JOIN orga_bi_instothername obi ON obo.COMPANYCODE = obi.SECINNERCODE
    WHERE  obo.COMPANYTYPECODE = '005001' AND obo.ISBRANCH ='0' AND obo.eisdel='0'
    AND (obo.COMPANYNAME LIKE concat('%',#{intermediaryName},'%') or obi.OTHERNAME  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.COMPANYCODE

    UNION

    SELECT obo.COMPANYNAME value,obo.COMPANYCODE labelValue
    FROM orga_bi_orgbaseinfo obo JOIN orga_bi_instothername obi ON obo.COMPANYCODE = obi.SECINNERCODE
    WHERE obo.COMPANY_TYPE_CODE_TG  = '06' AND obo.ISBRANCH ='0' AND obo.eisdel='0'
    AND (obo.COMPANYNAME LIKE concat('%',#{intermediaryName},'%') or obi.OTHERNAME  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.COMPANYCODE

    UNION

    SELECT obo.COMPANYNAME value,obo.COMPANYCODE labelValue
    FROM orga_bi_orgbaseinfo obo JOIN orga_bi_instothername obi ON obo.COMPANYCODE = obi.SECINNERCODE
    WHERE obo.COMPANYCODE  = '10008097' AND obo.ISBRANCH ='0' AND obo.eisdel='0'
    AND (obo.COMPANYNAME LIKE concat('%',#{intermediaryName},'%') or obi.OTHERNAME  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.COMPANYCODE

    UNION

    SELECT obo.COMPANYNAME value,obo.COMPANYCODE labelValue
    FROM orga_bi_orgbaseinfo obo JOIN orga_bi_instothername obi ON obo.COMPANYCODE = obi.SECINNERCODE
    WHERE obo.COMPANYCODE  = '10767413' AND obo.ISBRANCH ='0' AND obo.eisdel='0'
    AND (obo.COMPANYNAME LIKE concat('%',#{intermediaryName},'%') or obi.OTHERNAME  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.COMPANYCODE

    limit 10
  </select>

  <select id="queryIntermediaryLocal" parameterType="string" resultType="map">
    SELECT obo.org_full_name value,obo.org_code labelValue
    FROM sa_organization obo JOIN sa_stock_alias obi ON obo.org_code = obi.stock_id
    WHERE  obo.org_type_code = '005001' AND obo.is_branch ='0' AND obo.sisdel='0'
    AND (obo.org_full_name LIKE concat('%',#{intermediaryName},'%') or obi.org_alias  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.org_code

    UNION

    SELECT obo.org_full_name value,obo.org_code labelValue
    FROM sa_organization obo JOIN sa_stock_alias obi ON obo.org_code = obi.stock_id
    WHERE obo.org_type_code  = '06' AND obo.is_branch ='0' AND obo.sisdel='0'
    AND (obo.org_full_name LIKE concat('%',#{intermediaryName},'%') or obi.org_alias  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.org_code

    UNION

    SELECT obo.org_full_name value,obo.org_code labelValue
    FROM sa_organization obo JOIN sa_stock_alias obi ON obo.org_code = obi.stock_id
    WHERE obo.org_code  = '10008097' AND obo.is_branch ='0' AND obo.sisdel='0'
    AND (obo.org_full_name LIKE concat('%',#{intermediaryName},'%') or obi.org_alias  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.org_code

    UNION

    SELECT obo.org_full_name value,obo.org_code labelValue
    FROM sa_organization obo JOIN sa_stock_alias obi ON obo.org_code = obi.stock_id
    WHERE obo.org_code  = '10767413' AND obo.is_branch ='0' AND obo.sisdel='0'
    AND (obo.org_full_name LIKE concat('%',#{intermediaryName},'%') or obi.org_alias  LIKE concat('%',#{intermediaryName},'%'))
    GROUP BY obo.org_code

    limit 10
  </select>

  <select id="queryAuthByCompanyId" parameterType="string" resultType="int">
    SELECT
      COUNT(1) AS count
    FROM
      sa_company sc
    JOIN sa_application sa ON sc.id = sa.company_id
    WHERE sc.id = #{companyId}
    AND (sa.authorize_type = '00' OR sc.ipo_flag = '2' OR sc.ipo_flag = '4')
  </select>

  <select id="queryOverdueAuthByCompanyId" parameterType="string" resultType="int">
    SELECT
      COUNT(1) AS count
    FROM
      sa_company sc
    JOIN sa_application sa ON sc.id = sa.company_id
    WHERE sc.id = #{companyId}
     AND current_date between sa.begin_time_ipo and sa.end_time_ipo
		 AND sa.charge_apply_module = (SELECT code_value from sa_code WHERE code_no = 'CHARGE_APPLY_MODULE' AND code_name = 'IPO库')
     AND (sa.authorize_type = '00' AND current_date between sa.begin_time_ipo and sa.end_time_ipo OR sc.ipo_flag = '2' OR sc.ipo_flag = '4' )
  </select>

  <select id="querylawId" resultType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseListBo">
    select lm.id AS issueLawId,
    case when lm.law_invalid is not null and lm.law_invalid != '' and lm.law_invalid &lt;= now() then "已失效"
    when lm.law_effect_date > now() then "待失效"
    when lm.modify_date is not null and lm.modify_date != ''  then "已被修改"
    end as tmpRemarks
    from law_evolution_group leg, laws_manage lm
    where lm.laws_name like '%上海证券交易所科创板股票上市规则%' and lm.id= leg.law_id  and lm.laws_name not like "%的决定" having tmpRemarks is null order by lm.published desc
    limit 1;
  </select>

  <select id="queryIpoFavoriteList" resultType="java.lang.String">
    select t1.case_id from case_common_favorite t1 where t1.company_id = #{companyId} and t1.user_id = #{userId} and t1.type = '4'
  </select>

  <select id="getCassNote" parameterType="com.stock.capital.enterprise.ipoCase.dto.IpoFavoriteAndNoteDto"
          resultType="com.stock.capital.enterprise.ipoCase.dto.IpoFavoriteAndNoteDto">
    select t1.id,t1.note,t2.title caseTitle,DATE_FORMAT(t1.update_time,'%Y-%m-%d') updateTime,t2.id caseId,
    t2.open_flag openFlag,t2.company_code as companyCode,t2.company_name as companyName
    from case_common_notes t1 left join ipo_case t2 on t1.case_id=t2.id
    <where>
      t1.user_id = #{userId} and t1.company_id = #{companyCode} and t1.type = '4'
      <if test="caseTitleIsList != null and caseTitleIsList.size > 0 ">
        AND
        <foreach collection="caseTitleIsList"  open="(" close=")" item="no"  separator="OR">
          t2.title like CONCAT('%', #{no}, '%')
        </foreach>
      </if>
      <if test="note != null and note != ''">
        AND
        t1.note like CONCAT('%', #{note}, '%') escape '/'
      </if>
      <if test="companyCodeName != null and companyCodeName != ''">
        AND
        (t2.company_code like CONCAT('%', #{companyCodeName}, '%') or t2.company_name like CONCAT('%', #{companyCodeName}, '%'))
      </if>
    </where>
    order by
    <if test="signStatus == '0'.toString()">
      t2.open_flag desc,
    </if>
    <choose>
      <when test="orderByName != null and orderByName != ''">
        ${orderByName} ${orderByOrder}
      </when>
      <otherwise>
        t1.update_time desc
      </otherwise>
    </choose>
  </select>

  <select id = "isCompanyFlag"  parameterType="java.lang.String" resultType="java.lang.String">
     SELECT a.id FROM sa_company a WHERE find_in_set(a.ipo_flag,'2,4') AND a.company_code = #{companyCode}
  </select>

  <select id="getIpoItemCaseIdList" parameterType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseListBo" resultType="java.lang.String">
    select concat('ipo',t1.id)
    from ipo_case t1,ipo_process t2,
    (
        select distinct a1.letter_date
        from sa_letter a1,letter_class a2
        where a1.letter_type = a2.id
        and a2.letter_class_name in ('科创板上市申请文件审核问询函','审核中心意见落实函','IPO预披露反馈意见')
        and a1.post_status = '1' and a1.letter_valid = '0'
        and a1.letter_date is not null
        and a2.id in (
            select node_id
            from ipo_item_violation_letter
            where  module_id=#{moduleId} and node_type='03'
        )
    ) t3,case_common_status_info t4
    where t1.id = t2.bid
    and t2.process_time = t3.letter_date
    and t1.id = t4.case_id
    and ifnull(t4.release_flag,'0') = '1'
    and t2.process_type_code in ('05','32','45')
    group by t1.id
  </select>
</mapper>
