<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoCaseIssueMapper">
    <select id="getIssueFeeData" parameterType="string"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IssueFeeDto">
    SELECT iic.id,iic.bid,iic.feeType,
    CONVERT(iic.fee_amount,DECIMAL(18,2)) AS feeAmount,
    CONVERT(iic.fee_amount/i.investTotal*100,DECIMAL(18,2)) AS feeRatio
     FROM
    (SELECT id,bid,CASE WHEN fee_code = '02' THEN '承销及保荐费用' WHEN fee_code = '03' THEN '承销费用' WHEN fee_code = '04' THEN '保荐费用'
        WHEN fee_code = '05' THEN '原股东承销费用' WHEN fee_code = '06' THEN '律师费用' ELSE '' END AS feeType,fee_amount
    FROM ipo_issue_cost
    WHERE bid = #{bid} AND fee_type = '0' AND fee_code NOT in ('00','01')
    UNION
    SELECT id,bid,(SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_AUDIT_FEE' AND mcl.label_value = fee_code) AS feeType,fee_amount
    FROM ipo_issue_cost
    WHERE bid = #{bid} AND fee_type = '1'
    UNION
    SELECT id,bid,(SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_ISSUE_FEE' AND mcl.label_value = fee_code) AS feeType,fee_amount
    FROM ipo_issue_cost
    WHERE bid = #{bid} AND fee_type = '2') iic,
    (SELECT SUM(invest_plan) AS investTotal FROM ipo_invest_item WHERE bid = #{bid}) i
  </select>

    <select id="getIssueData" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.IssueDataDto">
    SELECT
      lfi.PARVALUE AS parValue,
      lfi.ISSUEPRICE AS issuePrice,
      CONVERT(lfi.SHAREISSUED/10000,DECIMAL(18,2)) AS shareIssued,
      lfi.ISSUEDRATIO AS issuedRatio,
      CONVERT(lfi.SUMFINA/10000,DECIMAL(18,2)) AS sumFina,
      CONVERT(lfi.NETSUMFINA/10000,DECIMAL(18,2)) AS netSumFina,
      CONVERT(lfi.EXSENUMBSE/10000,DECIMAL(18,2)) AS exseNumBse,
      lfi.ISSUEMETHOD AS issueMethod,
      lf.EPSISSUEB AS epsIssueB,
      lf.EPSISSUEA AS epsIssueA,
      lf.PEISSUEA peIssueA,
CONVERT(lfp.SHARESTRATEGICPLACE/10000,DECIMAL(18,2)) AS sharesTrategicPlace,
CONVERT(lfp.SHAREOVERPLACE/10000,DECIMAL(18,2)) AS shareOverPlace,
      CONVERT(lfp.SHAREISSUEON/10000,DECIMAL(18,2)) AS shareIssueOn,
      CONVERT(lfp.SHAREPLACEOFF/10000,DECIMAL(18,2)) AS sharePlaceOff,
      (SELECT c.PARAMCHNAME FROM CFP_PVALUE c WHERE c.NIPMID = '127000000005078644' AND lfu.UWMETHOD = c.PARAMCODE) AS uwMethod
    FROM
        LICO_FP_ISSUEBASICINFO linfo
        LEFT JOIN LICO_FP_ISSUEBASICINFO lfi ON linfo.FINANCECODE = lfi.FINANCECODE
        LEFT JOIN LICO_FP_ISSUEFINA lf ON linfo.FINANCECODE = lf.FINANCECODE
        LEFT JOIN LICO_FP_ISSUEPLACE lfp ON linfo.FINANCECODE = lfp.FINANCECODE
        LEFT JOIN LICO_FP_UNDERWRITING lfu ON linfo.FINANCECODE = lfu.FINANCECODE
    WHERE
        linfo.COMPANYCODE = #{orgCode} AND linfo.FINATYPE = '001'
    limit 1
  </select>


    <select id="getIssueDataFromLocal" parameterType="string"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IssueDataDto">
    SELECT
          lfi.share_value AS parValue,
          lfi.issue_price AS issuePrice,
          CONVERT(lfi.issue_size/10000,DECIMAL(18,2)) AS shareIssued,
          lfi.issue_ratio AS issuedRatio,
          CONVERT(lfi.invest_total/10000,DECIMAL(18,2)) AS sumFina,
          CONVERT(lfi.invest_act/10000,DECIMAL(18,2)) AS netSumFina,
          CONVERT(lfi.transfer_amount/10000,DECIMAL(18,2)) AS exseNumBse,
          lfi.issue_method AS issueMethod,
          lf.per_share_pre AS epsIssueB,
          lf.per_share_after AS epsIssueA,
          lf.pe_after peIssueA,
    CONVERT(lfp.zlpssl/10000,DECIMAL(18,2)) AS sharesTrategicPlace,
    CONVERT(lfp.cepssl/10000,DECIMAL(18,2)) AS shareOverPlace,
          CONVERT(lfp.wsfxsl/10000,DECIMAL(18,2)) AS shareIssueOn,
          CONVERT(lfp.wxpssl/10000,DECIMAL(18,2)) AS sharePlaceOff,
          (SELECT c.code_name FROM sa_code c WHERE c.code_no = 'IPO_ISSUED' AND lfu.sell_way = c.code_value AND c.valid_flag= '1') AS uwMethod
        FROM
            rep_issue_info linfo
            LEFT JOIN rep_issue_info lfi ON linfo.financing_code = lfi.financing_code
            LEFT JOIN ipo_issue_financial lf ON linfo.financing_code = lf.financing_code
            LEFT JOIN st_issue_place lfp ON linfo.financing_code = lfp.financing_code
            LEFT JOIN ipo_underwrite lfu ON linfo.financing_code = lfu.financing_code
        WHERE
            linfo.org_code = #{orgCode} AND linfo.fin_type = '001' AND linfo.source_del = '0'
        limit 1
  </select>
    <select id="getPlacementMainData" parameterType="map"
            resultType="com.stock.capital.enterprise.ipoCase.dto.StrategicPlacementMainDto">
        select id,bid,main_remark remark,bussiness_type businessType from strategic_placement_main where bid = #{id} limit 1
    </select>
    <select id="getPlacementSubData" parameterType="map"
            resultType="com.stock.capital.enterprise.ipoCase.dto.StrategicPlacementSubDto">
        select m.id,m.pid,m.strategic_investor_name strategicInvestorName,(select label_name from maa_conf_label where label_code = "IPO_SHARE_HOLDER_TYPE" and label_value=m.shareholder_type)AS shareholderType,m.initial_number_single initialNumberSingle,
            m.allotted_number_single allottedNumberSingle,m.allotted_amount_single allottedAmountSingle,m.sales_restriction_period_month salesRestrictionPeriodMonth
            ,m.initial_number_ten_thousand initialNumberTenThousand,m.allotted_number_ten_thousand allottedNumberTenThousand,m.allotted_amount_ten_thousand allottedAmountTenThousand
        from strategic_placement_sub m
        where pid = #{id}
    </select>

    <select id="getPriceAfterIssuance" parameterType="map" resultType="map">
       select m.`OPEN`,m.NEW,m.HIGH,m.LOW,m.TVOL,m.trade_date,m.LCLOSE from vc_trad_sk_daily m
       where m.SECURITY_CD = #{companyCode} and m.trade_date >= #{processTime} ORDER BY trade_date asc limit 20;
    </select>
</mapper>
