<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoCaseBizMapper">
  <resultMap id="BaseResultMap" type="com.stock.capital.enterprise.ipoCase.dto.CompanyOverviewVo">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="company_zh_name" property="companyZhName" jdbcType="VARCHAR"/>
    <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
    <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
    <result column="ipo_plate" property="ipoPlate" jdbcType="VARCHAR"/>
    <result column="addr_prov" property="addrProv" jdbcType="VARCHAR"/>
    <result column="addr_city" property="addrCity" jdbcType="VARCHAR"/>
    <result column="addr_area" property="addrArea" jdbcType="VARCHAR"/>
    <result column="company_nature" property="companyNature" jdbcType="VARCHAR"/>
    <result column="major_businesses" property="majorBusinesses" jdbcType="VARCHAR"/>
    <result column="industry_csrc" property="industryCsrc" jdbcType="VARCHAR"/>
    <result column="registered_assets" property="registeredAssets" jdbcType="DECIMAL"/>
    <result column="structure_label" jdbcType="VARCHAR" property="structureLabel"/>
    <result column="structure_url" property="structureUrl" jdbcType="VARCHAR"/>
    <result column="issue_condition" property="issueCondition" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="SupCusResultMap" type="com.stock.capital.enterprise.ipoCase.dto.SupplierCustomerMainDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="report_period" property="reportPeriod" jdbcType="TIMESTAMP" />
    <result column="main_type" property="mainType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <collection property="supplierCustomerInfoList" ofType="com.stock.capital.enterprise.ipoCase.dto.SupplierCustomerInfoDto">
      <id column="e_id" property="id" jdbcType="VARCHAR" />
      <result column="e_bid" property="bid" jdbcType="VARCHAR" />
      <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
      <result column="company_name" property="companyName" jdbcType="VARCHAR" />
      <result column="first_year_content" property="firstYearContent" jdbcType="VARCHAR" />
      <result column="first_year_amount" property="firstYearAmount" jdbcType="DECIMAL" />
      <result column="first_year_ratio" property="firstYearRatio" jdbcType="DECIMAL" />
      <result column="second_year_content" property="secondYearContent" jdbcType="VARCHAR" />
      <result column="second_year_amount" property="secondYearAmount" jdbcType="DECIMAL" />
      <result column="second_year_ratio" property="secondYearRatio" jdbcType="DECIMAL" />
      <result column="third_year_content" property="thirdYearContent" jdbcType="VARCHAR" />
      <result column="third_year_amount" property="thirdYearAmount" jdbcType="DECIMAL" />
      <result column="third_year_ratio" property="thirdYearRatio" jdbcType="DECIMAL" />
      <result column="one_period_content" property="onePeriodContent" jdbcType="VARCHAR" />
      <result column="one_period_amount" property="onePeriodAmount" jdbcType="DECIMAL" />
      <result column="one_period_ratio" property="onePeriodRatio" jdbcType="DECIMAL" />
    </collection>
  </resultMap>

  <select id="getIpoCaseDetail" parameterType="string" resultMap="BaseResultMap">
    SELECT
    ic.id,
    ic.company_zh_name,
    (SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_PLATE' AND mcl.label_value = ic.ipo_plate) AS ipo_plate,
    (SELECT group_concat(mcl1.label_name) FROM maa_conf_label mcl1 WHERE mcl1.label_code = 'INDUSTRY_CSRC_2012' AND find_in_set(mcl1.label_value,TRIM(LEADING '0' FROM ic.industry_csrc))) AS industry_csrc,
    ic.company_name,
    ic.company_code,
    ic.issue_condition,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_prov) AS addr_prov,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_city) AS addr_city,
    (SELECT p.area_name FROM provinces p WHERE p.area_no = ic.addr_area) AS addr_area,
    CONVERT(ic.registered_assets,DECIMAL(18,2)) AS registered_assets,
    (SELECT person_name FROM ipo_person_info WHERE bid = #{id} AND person_type = '1') AS actualController,
    (SELECT person_name FROM ipo_person_info WHERE bid = #{id} AND person_type = '2') AS controlShareholder,
    (SELECT group_concat(mcl2.label_name) FROM maa_conf_label mcl2 WHERE mcl2.label_code = 'REP_COMPANY_NATURE' AND find_in_set(mcl2.label_value,ic.company_nature)) AS company_nature,
    ic.major_businesses,
    (SELECT group_concat(mcl3.label_name) FROM maa_conf_label mcl3 WHERE mcl3.label_code = 'IPO_STRUCTURE_TYPE' AND find_in_set(mcl3.label_value,ic.structure_label)) AS structure_label,
    ic.structure_url
  FROM
    ipo_case ic
  WHERE
    ic.id = #{id}
   limit 1
  </select>

  <select id="getCodeAndNameById" parameterType="string" resultType="map">
    SELECT org_code AS orgCode,company_name AS companyName FROM ipo_case WHERE id = #{id} limit 1
  </select>

  <select id="getIpoShareData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.IpoPersonInfoDto">
    SELECT
      t.id,
      t.bid,
      t.person_name AS personName,
      t.shareName AS shareHolderNature,
      CONVERT(t.share_num,DECIMAL(18,2)) AS shareNum,
      CONVERT(t.share_num / t.sumNum * 100, DECIMAL(18,2)) AS shareRatio
    FROM
      (
        SELECT
          ipi.id,
          ipi.bid,
          ipi.person_name,
          (
            SELECT
              mcl.label_name
            FROM
              maa_conf_label mcl
            WHERE
              mcl.label_code = 'IPO_SHAREHOLDER_NATURE'
            AND mcl.label_value = ipi.share_holder_nature
          ) AS shareName,
          ipi.share_num,
          (
            SELECT
              registered_assets
            FROM
              ipo_case
            WHERE
            id =  #{bid}
          ) AS sumNum
        FROM
          ipo_person_info ipi
        WHERE
          ipi.person_type = '3'
        AND ipi.bid = #{bid}
      ) t
  </select>

  <select id="getIpoMarketData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.OtherMarketInfoDto">
    SELECT id, bid, (SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_CAPITAL_MARKET' AND mcl.label_value = market_type) AS marketType,
     company_code AS companyCode, company_name AS companyName, list_time AS listTime, delist_time AS delistTime FROM ipo_other_market_info
    WHERE bid = #{bid}
  </select>

  <select id="getSpliteData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoSplitDto">
    SELECT t1.split_memo AS splitMemo, t1.split_file_id AS splitFileId, t1.split_file_name AS splitFileName,
    t2.split_market AS splitMarket, CONCAT(t2.company_name,'(',t2.company_code,')') AS companyName,
    t2.share_proportion AS shareProportion
    FROM ipo_split_map AS t1, ipo_split AS t2
    WHERE t1.id = t2.bid AND t1.bid = #{bid}
  </select>

  <select id="getVluationData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoValuationDto">
    SELECT valuation_type AS valuationType,
    DATE_FORMAT(valuation_date,'%Y-%m-%d') AS valuationDate,
    valuation_price AS valuationPrice,
    valuation_equity AS valuationEquity,
    valuation_value AS valuationValue,
    valuation_memo AS valuationMemo
    FROM ipo_valuation
    WHERE bid = #{bid}
  </select>

  <select id="getIpoCompetitorData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.MainCompetitorInfoDto">
    SELECT id, bid, company_code AS companyCode, company_name AS companyName, situation FROM ipo_main_competitor_info WHERE bid = #{bid}
  </select>

  <select id="getCompetitorData" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyPatentDto">
    SELECT '国内专利' AS labelName, domestic_invention AS fm,domestic_newtype AS sy, domestic_design as wg,  (domestic_invention+domestic_newtype+domestic_design) AS hj FROM ipo_technology AS t1 WHERE bid = #{bid}
    UNION
    SELECT '国外专利' AS labelName, foreign_invention AS fm,foreign_newtype AS sy, foreign_design as wg,  (foreign_invention+foreign_newtype+foreign_design) AS hj FROM ipo_technology AS t2 WHERE bid = #{bid}
    UNION
    SELECT '合计' AS labelName, IFNULL(domestic_invention,0) + IFNULL(foreign_invention,0) AS fm, IFNULL(domestic_newtype,0) + IFNULL(foreign_newtype,0) AS sy, IFNULL(domestic_design,0) + IFNULL(foreign_design,0) AS wg,
    (IFNULL(domestic_invention,0)+IFNULL(domestic_newtype,0)+IFNULL(domestic_design,0) + IFNULL(foreign_invention,0)+
		IFNULL(foreign_newtype,0)+IFNULL(foreign_design,0)) AS hj FROM ipo_technology WHERE bid = #{bid}
  </select>


  <select id="getDevCompute" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyTableDto">
    SELECT '研发费用' AS labelName, dev_input_fi AS firstYearValue, dev_input_se AS secondYearValue,
    dev_input_th AS thirdYearValue, dev_input_fo AS forthYearValue, dev_input_fi + dev_input_se + dev_input_th + dev_input_fo AS allNumValue
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '营业收入' AS labelName, trade_fi AS firstYearValue, trade_se AS secondYearValue,
    trade_th AS thirdYearValue, trade_fo AS forthYearValue, trade_fi + trade_se + trade_th + trade_fo AS allNumValue
    FROM ipo_technology WHERE bid =  #{bid}
    UNION
    SELECT '研发费用占营业收入的比例' AS labelName, TRUNCATE(dev_input_fi/trade_fi,4)*100 AS firstYearValue, TRUNCATE(dev_input_se/trade_se,4)*100 AS secondYearValue, TRUNCATE(dev_input_th/trade_th,4)*100 AS thirdYearValue, TRUNCATE(dev_input_fo/trade_fo,4)*100 AS forthYearValue,
    TRUNCATE((dev_input_fi + dev_input_se + dev_input_th + dev_input_fo)/(trade_fi + trade_se + trade_th + trade_fo),4)*100 AS allNumValue
    FROM ipo_technology WHERE bid =  #{bid}
  </select>


  <select id="getCoreCompute" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyTableDto">
    SELECT '核心技术人员' AS labelName,
    core_fi AS firstYearValue, TRUNCATE(core_fi/count_fi,4)*100 AS firstYearPro,
    core_se AS secondYearValue, TRUNCATE(core_se/count_se,4)*100 AS secondYearPro,
    core_th AS thirdYearValue,  TRUNCATE(core_th/count_th,4)*100 AS thirdYearPro,
    core_fo AS forthYearValue, TRUNCATE(core_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '研发技术人员' AS labelName,
    dev_fi AS firstYearValue, TRUNCATE(dev_fi/count_fi,4)*100 AS firstYearPro,
    dev_se AS secondYearValue, TRUNCATE(dev_se/count_se,4)*100 AS secondYearPro,
    dev_th AS thirdYearValue, TRUNCATE(dev_th/count_th,4)*100 AS thirdYearPro,
    dev_fo AS forthYearValue, TRUNCATE(dev_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
    UNION
    SELECT '公司员工总数' AS labelName,
    count_fi AS firstYearValue, TRUNCATE(count_fi/count_fi,4)*100 AS firstYearPro,
    count_se AS secondYearValue, TRUNCATE(count_se/count_se,4)*100 AS secondYearPro,
    count_th AS thirdYearValue, TRUNCATE(count_th/count_th,4)*100 AS thirdYearPro,
    count_fo AS forthYearValue, TRUNCATE(count_fo/count_fo,4)*100 AS forthYearPro
    FROM ipo_technology WHERE bid = #{bid}
  </select>

  <select id="getDate" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyDateDto">
    SELECT '项目时间' AS dateName,
    DATE_FORMAT(project_date_fi,'%Y-%m-%d') AS firstYearDate,
    DATE_FORMAT(project_date_se,'%Y-%m-%d') AS secondYearDate,
    DATE_FORMAT(project_date_th,'%Y-%m-%d') AS thirdYearDate,
    DATE_FORMAT(project_date_fo,'%Y-%m-%d') AS forthYearDate
    FROM ipo_technology WHERE bid=#{bid}
    UNION
    SELECT '类别时间' AS dateName,
    DATE_FORMAT(category_date_fi,'%Y-%m-%d') AS firstYearDate,
    DATE_FORMAT(category_date_se,'%Y-%m-%d') AS secondYearDate,
    DATE_FORMAT(category_date_th,'%Y-%m-%d') AS thirdYearDate,
    DATE_FORMAT(category_date_fo,'%Y-%m-%d') AS forthYearDate
    FROM ipo_technology WHERE bid=#{bid}
  </select>

  <select id="getRemarks" parameterType="string"
    resultType="com.stock.capital.enterprise.ipoCase.dto.IpoTechnologyRemarksDto">
    SELECT dev_remarks as devRemarks,patent_remarks AS patentRemarks,core_remarks AS coreRemarks
    FROM ipo_technology WHERE bid=#{bid}
  </select>


  <select id="getSupplierOrCustomerData" resultMap="SupCusResultMap">
    SELECT iscm.id,iscm.bid,iscm.report_period,iscm.main_type,iscm.title,iscm.remark,isci.id e_id,isci.bid e_bid,isci.company_code, isci.company_name, isci.first_year_content, isci.first_year_amount, isci.first_year_ratio,
    isci.second_year_content, isci.second_year_amount, isci.second_year_ratio, isci.third_year_content, isci.third_year_amount,
    isci.third_year_ratio, isci.one_period_content, isci.one_period_amount, isci.one_period_ratio
    FROM ipo_supplier_customer_main iscm
    LEFT JOIN ipo_supplier_customer_info isci ON iscm.id = isci.bid
    WHERE iscm.bid = #{bid} AND iscm.main_type = #{mainType}
  </select>

  <select id="getIncomeData" parameterType="string"
          resultType="com.stock.capital.enterprise.ipoCase.dto.MainIncomeInfoDto">
     SELECT
      id,
      bid,
      report_period AS reportPeriod,
      business_name AS businessName,
      CONVERT(one_period_amount,DECIMAL(18,2)) AS onePeriodAmount,
      CONVERT(third_year_amount,DECIMAL(18,2)) AS thirdYearAmount,
      CONVERT(second_year_amount,DECIMAL(18,2)) AS secondYearAmount,
      CONVERT(first_year_amount,DECIMAL(18,2)) AS firstYearAmount,
      CONVERT(one_period_amount/(SELECT SUM(one_period_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS onePeriodRatio,
      CONVERT(third_year_amount/(SELECT SUM(third_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS thirdYearRatio,
      CONVERT(second_year_amount/(SELECT SUM(second_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS secondYearRatio,
      CONVERT(first_year_amount/(SELECT SUM(first_year_amount) FROM ipo_main_income_info WHERE bid = #{bid})*100,DECIMAL(18,2)) AS firstYearRatio
    FROM
      ipo_main_income_info
    WHERE
      bid = #{bid}
  </select>

  <select id="getIntermediaryOrgData" resultType="com.stock.capital.enterprise.ipoCase.dto.IntermediaryOrgDto">
    SELECT
    t.*, mcl.label_name AS intermediaryTypeName
    FROM
    (
    SELECT
    iio.intermediary_type AS intermediaryType,
    iio.org_type AS orgType,
    iio.org_name AS orgName,
    iio.org_code AS orgCode,
    iio.valid_flag AS validFlag,
    iio.represent_person AS representPerson,
    iio.agent_person AS agentPerson,
    iio.assist_person AS assistPerson,
    CASE
    WHEN iio.intermediary_type = '1' THEN
    'IPO_SPONSOR_TYPE'
    WHEN iio.intermediary_type = '2' THEN
    'IPO_SECURITY_TYPE'
    WHEN iio.intermediary_type = '3' THEN
    'IPO_LAWYER_TYPE'
    WHEN iio.intermediary_type = '4' THEN
    'IPO_ACCOUNT_TYPE'
    WHEN iio.intermediary_type = '5' THEN
    'IPO_ASSET_VALUATION_TYPE'
    ELSE
    ''
    END AS labelCode
    FROM
    ipo_intermediary_org iio
    WHERE
    iio.bid = #{bid}
    <if test="validFlag != null and validFlag != ''">
      AND iio.valid_flag = #{validFlag}
    </if>
    ) t
    JOIN maa_conf_label mcl ON t.labelCode = mcl.label_code
    AND t.orgType = mcl.label_value
    ORDER BY t.intermediaryType
  </select>

  <select id="getHeadData" parameterType="string" resultType="com.stock.capital.enterprise.ipoCase.dto.HeadDataVo">
    SELECT
    ic.title,
    ic.establish_date AS establishDate,
    (SELECT group_concat(mcl2.label_name) FROM maa_conf_label mcl2 WHERE mcl2.label_code = 'IPO_SPECIAL_ARRANGE' AND find_in_set(mcl2.label_value,ic.special_arrange)) AS specialArrange,
    CASE WHEN ic.ipo_plate = '069001001006' THEN 1 ELSE 0 END AS isTechBoard,
    (SELECT mcl.label_name FROM maa_conf_label mcl WHERE mcl.label_code = 'IPO_GREEN_PASSAGE' AND
    mcl.label_value = ic.green_passage) AS greenPassage,
    (SELECT mcl1.label_name FROM maa_conf_label mcl1 WHERE mcl1.label_code = 'IPO_STATUS' AND
    mcl1.label_value = ic.case_status) AS processLabel,
    ip.iec_result AS iecResult,
    DATEDIFF(
      (
        SELECT
          MAX(process_time)
        FROM
          ipo_process
        WHERE
          tree_type_code = '00'
        AND process_type_code = '03'
        AND bid = ic.id
      ),
      (
        SELECT
          MIN(process_time)
        FROM
          ipo_process
        WHERE
          tree_type_code = '00'
        AND process_type_code = '01'
        AND bid = ic.id
      )
    ) AS supportDuration,
    DATEDIFF(ip2.maxDate, ip2.minDate) AS auditDuration
  FROM
    ipo_case ic
  LEFT JOIN (
    SELECT
      bid,
      iec_result
    FROM
      ipo_process
    WHERE
      process_type_code = '07'
    AND bid = #{id}
    ORDER BY
      process_time DESC
    LIMIT 1
  ) ip ON ic.id = ip.bid
  LEFT JOIN (
    SELECT
      bid,
      MAX(process_time) AS maxDate,
      MIN(process_time) AS minDate
    FROM
      ipo_process
    WHERE
      tree_type_code = '01'
    AND bid = #{id}
  ) ip2 ON ic.id = ip2.bid
  WHERE
    ic.id = #{id}
    LIMIT 1
  </select>
</mapper>
