<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoFeedbackMapper">

    <select id="getOrgCode" parameterType="java.lang.String"
            resultType="com.stock.capital.enterprise.ipoCase.dto.CompanyOverviewVo">
        select t.org_code orgCode,t.ipo_plate ipoPlate,(select 1 from ipo_process m where m.bid = t.id and m.process_type_code = '31' and m.table_sort = '1' limit 1) zczFlag
        from ipo_case t where t.id = #{id}
    </select>

    <resultMap id="baseResultMap" type="com.stock.capital.enterprise.ipoCase.dto.IpoFeedbackDto">
        <result column="letter_id" property="letterId" jdbcType="VARCHAR"/>
        <collection property="questionList"
                    ofType="com.stock.capital.enterprise.ipoCase.dto.IpoFeedbackQuestionDto">
            <result column="question_id" property="questionId" jdbcType="VARCHAR"/>
            <result column="text_content" property="question" jdbcType="VARCHAR"/>
            <result column="answer" property="answer" jdbcType="VARCHAR"/>
            <collection property="labelList" ofType="java.lang.String">
                <result column="question_type" property="questionType" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectFeedbackList"
            parameterType="com.stock.capital.enterprise.ipoCase.dto.IpoFeedbackDto"
            resultMap="baseResultMap">
      SELECT
            t1.id letter_id,
            t2.id question_id,
            t1.company_name,
            t2.text_content,
            t2.type,
            t2. LEVEL,
            t4. LEVEL,
            t4.letter_class_name question_type,
            t5.letter_class_name,
            CAST(t2.ask_no AS SIGNED) askNo,
            t8.text_content answer
        FROM
            sa_letter t1
        LEFT JOIN label_xml_structure t2 ON t2.rela_id = t1.id
        LEFT JOIN letter_class t4 ON t4.tree_type != '1'
        AND FIND_IN_SET(t4.id, t2.question_type)
        LEFT JOIN letter_class t5 ON t5.id = t4.parent_id
        LEFT JOIN letter_class t6 ON t6.id = t1.letter_type
        LEFT JOIN label_ask_answer t7 ON t7.ask_id = t6.id
        LEFT JOIN label_xml_structure t8 ON t8.id = t7.answer_id
        WHERE
            t1.rela_code = #{orgCode}
        AND t2.type = 'l'
        AND t2.`level` = '4'
        AND t4. LEVEL != '0'
        AND t6.letter_class_name = 'IPO预披露反馈意见'
        <if test="secondLabelList != null and secondLabelList.size()>0">
            AND t4.id IN
            <foreach collection="secondLabelList" index="index" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>
        ORDER BY
            t1.letter_date,askNo
    </select>

    <select id="selectQuestionListByLetterId"
            parameterType="com.stock.capital.enterprise.ipoCase.dto.IpoFeedbackDto"
            resultMap="baseResultMap">
        SELECT
        t1.id letter_id,
        t2.id question_id,
        t1.company_name,
        t2.text_content,
        t2.type,
        t2. LEVEL,
        t4. LEVEL,
        t4.letter_class_name question_type,
        t5.letter_class_name,
        CAST(t2.ask_no AS SIGNED) askNo,
        t8.text_content answer
        FROM
        sa_letter t1
        LEFT JOIN label_xml_structure t2 ON t2.rela_id = t1.id
        LEFT JOIN letter_class t4 ON t4.tree_type != '1'
        AND FIND_IN_SET(t4.id, t2.question_type)
        LEFT JOIN letter_class t5 ON t5.id = t4.parent_id
        LEFT JOIN letter_class t6 ON t6.id = t1.letter_type
        LEFT JOIN label_ask_answer t7 ON t7.ask_id = t6.id
        LEFT JOIN label_xml_structure t8 ON t8.id = t7.answer_id
        WHERE
            t2.type = 'l'
        AND t2.`level` = '4'
        AND t4. LEVEL != '0'
        AND t6.letter_class_name = 'IPO预披露反馈意见'
        AND t1.id = #{letterId}
        <if test="firstLabelId != null and firstLabelId != ''">
            AND t5.id = #{firstLabelId}
        </if>
        <if test="onlyResponse == 1">
            AND t8.text_content is not null
        </if>
        <if test="secondLabelList != null and secondLabelList.size()>0">
            AND t4.id IN
            <foreach collection="secondLabelList" index="index" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>
        ORDER BY
        askNo
    </select>

    <select id="selectAnswer" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            a.id answerId,
            b.text_content answerContent
        FROM
            label_xml_structure b,
            label_ask_answer a
        WHERE
            a.answer_id = b.id
        AND a.ask_id = #{questionId} limit 1;
    </select>

    <select id="selectFirstLabelList" parameterType="java.lang.String"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IpoQuestionLabelDto">
        SELECT
            t.id labelCode,
            t.letter_class_name labelName,
            count(*) labelCount
        FROM
            (
                SELECT
                    t5.id,
                    t5.letter_class_name
                FROM
                    sa_letter t1
                LEFT JOIN label_xml_structure t2 ON t2.rela_id = t1.id
                LEFT JOIN letter_class t4 ON t4.tree_type != '1'
                AND FIND_IN_SET(t4.id, t2.question_type)
                LEFT JOIN letter_class t5 ON t5.id = t4.parent_id
                LEFT JOIN letter_class t6 ON t6.id = t1.letter_type
                WHERE
                    t1.id = #{letterId}
                AND t2.type = 'l'
                AND t2.`level` = '4'
                AND t4. LEVEL != '0'
                AND t6.letter_class_name = 'IPO预披露反馈意见'
                GROUP BY
                    t2.id,
                    t5.id,
                    t5.letter_class_name
            ) t
        GROUP BY
            t.id,
            t.letter_class_name
        ORDER BY id
    </select>

    <select id="selectSecondLabelList"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IpoQuestionLabelDto">
        SELECT
            '' labelCode,
            '全部' labelName,
            count(*) labelCount
        FROM
            (
                SELECT
                    t4.id,
                    t4.letter_class_name,
                    CAST(t2.ask_no AS SIGNED) askNo
                FROM
                    sa_letter t1
                LEFT JOIN label_xml_structure t2 ON t2.rela_id = t1.id
                LEFT JOIN letter_class t4 ON t4.tree_type != '1'
                AND FIND_IN_SET(t4.id, t2.question_type)
                LEFT JOIN letter_class t5 ON t5.id = t4.parent_id
                LEFT JOIN letter_class t6 ON t6.id = t1.letter_type
                WHERE
                    t1.id = #{letterId}
                AND t5.id = #{parentId}
                AND t2.type = 'l'
                AND t2.`level` = 4
                AND t4. LEVEL != '0'
                AND t6.letter_class_name = 'IPO预披露反馈意见'
                GROUP BY
                    t2.id
            ) t
        UNION
            SELECT
                t.id labelCode,
                t.letter_class_name labelName,
                count(*) labelCount
            FROM
                (
                    SELECT
                        t4.id,
                        t4.letter_class_name,
                        CAST(t2.ask_no AS SIGNED) askNo
                    FROM
                        sa_letter t1
                    LEFT JOIN label_xml_structure t2 ON t2.rela_id = t1.id
                    LEFT JOIN letter_class t4 ON t4.tree_type != '1'
                    AND FIND_IN_SET(t4.id, t2.question_type)
                    LEFT JOIN letter_class t5 ON t5.id = t4.parent_id
                    LEFT JOIN letter_class t6 ON t6.id = t1.letter_type
                    WHERE
                        t1.id = #{letterId}
                    AND t5.id = #{parentId}
                    AND t2.type = 'l'
                    AND t2.`level` = 4
                    AND t4. LEVEL != '0'
                    AND t6.letter_class_name = 'IPO预披露反馈意见'
                    GROUP BY
                        t2.id,
                        t4.id,
                        t4.letter_class_name
                    ORDER BY
                        askNo
                ) t
            GROUP BY
                t.id,
                t.letter_class_name
    </select>

    <select id="selectFeedbackProcess" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            date_format(t1.process_time, '%Y-%m-%d') process_time
        FROM
            ipo_process t1
        WHERE
            t1.bid = #{id}
        AND t1.process_type_code in ('05','32','45','63')
        AND t1.process_time IS NOT NULL
    </select>

    <select id="selectLetterIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            t1.id
        FROM
            sa_letter t1
        LEFT JOIN letter_class t2 ON t2.id = t1.letter_type
        WHERE
            t2.letter_class_name in ('IPO预披露反馈意见','精选层挂牌审查问询函')
        AND t1.rela_code = #{orgId} and t1.post_status = '1' and t1.letter_valid = '0'
        <if test="processDateList != null and processDateList.size()>0">
          and t1.letter_date in
          <foreach collection="processDateList" index="index" item="item" open="(" close=")" separator="," >
              #{item}
          </foreach>
        </if>
        order by t1.letter_date
    </select>

    <resultMap id="firstLabelResult" type="java.util.HashMap">
        <result column="id" property="labelId" jdbcType="VARCHAR"/>
        <result column="letter_class_name" property="letterClassName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectFirstLabelMap" resultMap="firstLabelResult">
        select id,letter_class_name,concat(t1.sort) sort from letter_class t1 where t1.`level` = 0 order by t1.sort
    </select>

    <resultMap id="secondLabelResult" type="java.util.HashMap">
        <result column="id" property="labelId" jdbcType="VARCHAR"/>
        <result column="letter_class_name" property="letterClassName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectSecondLabelMap" resultMap="secondLabelResult">
        select id,letter_class_name,concat(t1.sort) sort from letter_class t1 where t1.`level` = 1
        <if test="firstLabelId != null and firstLabelId != ''">
          and t1.parent_id = #{firstLabelId}
        </if>
        order by t1.sort
    </select>

    <select id="selectPublicProcess" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            process_time
        FROM
            ipo_process t1
        WHERE
            t1.bid = #{id}
        AND CONVERT(t1.process_type_code,SIGNED) > 10 and CONVERT(t1.process_type_code,SIGNED) <![CDATA[<]]> 31
    </select>

    <select id="selectKcbLetterIds" resultType="java.lang.String">
        SELECT
        t1.id
        FROM
        sa_letter t1
        LEFT JOIN letter_class t2 ON t2.id = t1.letter_type
        WHERE
        t2.letter_class_name in ('科创板上市申请文件审核问询函','审核中心意见落实函','创业板上市申请文件审核问询函')
        AND t1.rela_code = #{orgId} and t1.post_status = '1' and t1.letter_valid = '0'
        <if test="processDateList != null and processDateList.size()>0">
            and t1.letter_date in
            <foreach collection="processDateList" index="index" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>
        order by t1.letter_date
    </select>
    <select id="selectFileNo" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT letter_file_no FROM sa_letter WHERE id = #{letterId}
    </select>
</mapper>
