<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoIndustryRateBizMapper" >
  <resultMap id="RateResultMap" type="com.stock.capital.enterprise.ipoCase.dto.IndustryCompareRateDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="report_period" property="reportPeriod" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="first_year_rate" property="firstYearRate" jdbcType="DECIMAL" />
    <result column="second_year_rate" property="secondYearRate" jdbcType="DECIMAL" />
    <result column="third_year_rate" property="thirdYearRate" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="firstAvg" property="firstAvg" jdbcType="DECIMAL" />
    <result column="secondAvg" property="secondAvg" jdbcType="DECIMAL" />
    <result column="thirdAvg" property="thirdAvg" jdbcType="DECIMAL" />
    <collection property="industryCompareRateDetailList" ofType="com.stock.capital.enterprise.ipoCase.dto.IndustryCompareRateDetailDto">
      <id column="e_id" property="id" jdbcType="VARCHAR" />
      <result column="e_bid" property="bid" jdbcType="VARCHAR" />
      <result column="e_company_code" property="companyCode" jdbcType="VARCHAR" />
      <result column="e_company_name" property="companyName" jdbcType="VARCHAR" />
      <result column="e_first_year_rate" property="firstYearRate" jdbcType="DECIMAL" />
      <result column="e_second_year_rate" property="secondYearRate" jdbcType="DECIMAL" />
      <result column="e_third_year_rate" property="thirdYearRate" jdbcType="DECIMAL" />
    </collection>
  </resultMap>

  <select id="selectIndustryRateByBid" parameterType="string" resultMap="RateResultMap">
    SELECT t.*,t1.* FROM
    (SELECT iicr.id,iicr.bid,iicr.remark,iicr.report_period,iicr.company_code,iicr.company_name,CONVERT(iicr.first_year_rate,DECIMAL(18,2)) first_year_rate,
        CONVERT(iicr.second_year_rate,DECIMAL(18,2)) second_year_rate,CONVERT(iicr.third_year_rate,DECIMAL(18,2)) third_year_rate,iicrd.id e_id,iicrd.bid e_bid,iicrd.company_code e_company_code,
        iicrd.company_name e_company_name,CONVERT(iicrd.first_year_rate,DECIMAL(18,2)) e_first_year_rate,CONVERT(iicrd.second_year_rate,DECIMAL(18,2)) e_second_year_rate,
        CONVERT(iicrd.third_year_rate,DECIMAL(18,2)) e_third_year_rate
        FROM ipo_industry_compare_rate iicr
        LEFT JOIN ipo_industry_compare_rate_detail iicrd ON iicr.id = iicrd.bid
        WHERE iicr.bid = #{bid}) t LEFT JOIN
    (SELECT iicrd.bid,CONVERT(AVG(iicrd.first_year_rate),DECIMAL(18,2)) AS firstAvg,CONVERT(AVG(iicrd.second_year_rate),DECIMAL(18,2)) AS secondAvg,CONVERT(AVG(iicrd.third_year_rate),DECIMAL(18,2)) AS thirdAvg
    FROM ipo_industry_compare_rate iicr
    LEFT JOIN ipo_industry_compare_rate_detail iicrd ON iicr.id = iicrd.bid
    WHERE iicr.bid = #{bid}
    GROUP BY iicrd.bid) t1
    ON t.id = t1.bid
  </select>

</mapper>