<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoIssuerIndustryStatusBizMapper">

  <resultMap id="IssuerIndustryStatusResultMap" type="com.stock.capital.enterprise.ipoCase.dto.IssuerIndustryStatusDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="ranking_range" property="rankingRange" jdbcType="VARCHAR" />
    <result column="ranking_indicator" property="rankingIndicator" jdbcType="VARCHAR" />
    <result column="ranking" property="ranking" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getindustryStatusData" parameterType="string" resultMap="IssuerIndustryStatusResultMap">
    SELECT  
            id, 
            bid, 
            ranking_range, 
            ranking_indicator, 
            ranking 
    FROM 
            ipo_issuer_industry_status 
    WHERE 
            bid = #{bid}
  </select>

</mapper>
