<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.capital.enterprise.ipoCase.dao.IpoProcessMapper" >

    <resultMap id="processResultMap" type="com.stock.capital.enterprise.ipoCase.dto.TreeTypeProgressDto">
        <result column="bid" property="caseId" jdbcType="VARCHAR"/>
        <collection property="treeList" ofType="com.stock.capital.enterprise.ipoCase.dto.IpoProgressDto">
            <result column="tree_type_code" property="treeTypeCode" jdbcType="VARCHAR"/>
            <collection property="proList" ofType="com.stock.capital.enterprise.ipoCase.dto.IpoProListDto">
                <result column="process_type_code" property="progressType" jdbcType="VARCHAR"/>
                <result column="label_name" property="progressName" jdbcType="VARCHAR"/>
                <!--<result column="process_time" property="processTime" jdbcType="VARCHAR"/>-->
                <result column="pro_sort" property="proSort" jdbcType="VARCHAR"/>
                <collection property="relaList"
                            ofType="com.stock.capital.enterprise.ipoCase.dto.IpoFileRelationDto">
                    <result column="iec_result" property="iecResult" jdbcType="VARCHAR"/>
                    <result column="id" property="id" jdbcType="VARCHAR"/>
                    <result column="relation_file_id" property="relaId" jdbcType="VARCHAR"/>
                    <result column="relation_file_title" property="relationFileTitle"
                            jdbcType="VARCHAR"/>
                    <result column="table_sort" property="tableSort" jdbcType="VARCHAR"/>
                    <result column="suffix" property="suffix" jdbcType="VARCHAR"/>
                    <result column="publish_time" property="publishTime" jdbcType="VARCHAR"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <select id="selectProcessList" parameterType="java.lang.String" resultMap="processResultMap">
        SELECT
            t1.bid,
            t1.tree_type_code,
            t1.process_type_code,
            t2.label_name,
            t1.pro_sort,
            t1.id,
            t1.relation_file_id,
            t3.title,
            date_format(t1.process_time,'%Y-%m-%d') process_time,
            date_format(t1.process_time,'%Y-%m-%d') publish_time,
            t1.table_sort,
            t1.`status`,
            t3.suffix,
            t1.iec_result,
            t1.relation_file_title,
            t1.pro_sort
            FROM
            ipo_process t1
            LEFT JOIN maa_conf_label t2 ON t2.label_value = t1.process_type_code
            AND t2.label_code IN (
            'SUPPORT_PROGRESS',
            'DECLARE_PROGRESS',
            'PUBLIC_PROGRESS'
            )
        LEFT JOIN ipo_file t3 ON t3.id = t1.relation_file_id
        <where>
            t1.bid = #{id}
        </where>
            ORDER BY t1.tree_type_code,t1.pro_sort,t1.process_type_code,t1.table_sort

    </select>

    <select id="getPublishDate" parameterType="java.lang.String" resultType="java.lang.String">
        select date_format(establish_date,'%Y-%m-%d') from ipo_case where id = #{id}
    </select>

    <select id="selectFileDto" parameterType="java.lang.String"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IpoFileRelationDto">
        select
          title relationFileTitle,
          notice_time publishTime,
          suffix
        from ipo_file where id = #{id}
    </select>

    <select id="selectSplitFileDto" parameterType="java.lang.String"
            resultType="com.stock.capital.enterprise.ipoCase.dto.IpoFileRelationDto">
        select
          split_file_name relationFileTitle
        from ipo_split_map where split_file_id = #{id}
    </select>


    <select id="selectConfLabelBy" parameterType="java.lang.String"
            resultType="java.lang.String">
       SELECT label_name FROM maa_conf_label WHERE label_code = #{labelCode} AND FIND_IN_SET(label_value,#{ids}) ORDER BY label_sort;
    </select>


    <select id="querylawId" resultType="com.stock.capital.enterprise.ipoCase.dto.IpoCaseListBo">
    select lm.id AS issueLawId,
    case when lm.law_invalid is not null and lm.law_invalid != '' and lm.law_invalid &lt;= now() then "已失效"
    when lm.law_effect_date > now() then "待失效"
    when lm.modify_date is not null and lm.modify_date != ''  then "已被修改"
    end as tmpRemarks
    from law_evolution_group leg, laws_manage lm
    where lm.laws_name like '%上海证券交易所科创板股票发行上市审核规则%' and lm.id= leg.law_id  and lm.laws_name not like "%的决定" having tmpRemarks is null order by lm.published desc
    limit 1;
  </select>

    <select id="queryLawNoId" resultType="java.lang.String">
    SELECT id FROM law_xml_structure_detail WHERE law_id = #{lawId} AND title = #{title};
  </select>
</mapper>
